<ng-container *ngIf="submissionTest$ | async as submissionTest; else loading">
  <div class="card card-custom">
    <!-- Header -->
    <div class="row">
      <div class="col-12">
        <div
          class="card-header border-0 text-white"
          style="background-color: white; padding: 2rem 2.25rem"
        >
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <h3 class="card-title font-weight-bolder text-dark">
                {{ "TEST.SUBMISSION_DETAILS.SUBMISSION_DETAILS" | translate }}
              </h3>
              <div>
                <button class="btn btn-secondary" routerLink="/test/submitted">
                  {{ "BUTTONS.BACK_TO_LIST" | translate }}
                </button>
                <ng-container *ngIf="!isEditingScore && AuthUtil.permitted([AuthUtil.roles.SuperAdmin, AuthUtil.roles.SpanishTeacher])">
                  <button class="btn btn-primary ml-2" (click)="startEditing()">
                    {{
                      "TEST.SUBMISSION_DETAILS.BUTTONS.EDIT_SCORE" | translate
                    }}
                  </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="card-body pt-2">
      <div class="row mb-16">
        <div class="col-12">
          <p class="mb-4">
            <strong>
              {{ "TEST.SUBMISSION_DETAILS.LABELS.SUBMITTED_TEST" | translate }}:
            </strong>
            {{ submissionTest.title }}
          </p>
          <p class="mb-4">
            <strong>
              {{ "TEST.SUBMISSION_DETAILS.LABELS.SUBMITTED_BY" | translate }}:
            </strong>
            {{ submissionTest.submittedBy.firstName }}
            {{ submissionTest.submittedBy.lastName }}
          </p>
          <p class="mb-4">
            <strong>
              {{ "TEST.SUBMISSION_DETAILS.LABELS.SUBMITTED_AT" | translate }}:
            </strong>
            {{ submissionTest.submittedAt | date }}
          </p>
          <p class="mb-4">
            <strong>
              {{ "TEST.SUBMISSION_DETAILS.LABELS.SCORE_AUTO" | translate }}:
            </strong>
            {{ submissionTest.realScores.totalAuto }} /
            {{ submissionTest.possibleScores.maxAuto }}
          </p>

          <ng-container
            *ngIf="submissionTest.realScores.totalNotAuto; else notGradedDetail"
          >
            <p class="mb-4">
              <strong>
                {{ "TEST.SUBMISSION_DETAILS.LABELS.SCORE_MANUAL" | translate }}:
              </strong>
              {{ submissionTest.realScores.totalNotAuto }} /
              {{ submissionTest.possibleScores.maxNotAuto }}
            </p>
          </ng-container>
          <ng-template #notGradedDetail>
            <p>
              <strong>
                {{ "TEST.SUBMISSION_DETAILS.LABELS.SCORE_MANUAL" | translate }}:
              </strong>
              {{ "TEST.SUBMISSION_DETAILS.MESSAGES.NO_GRADE" | translate }}
            </p>
          </ng-template>

          <p class="mb-4">
            <strong>
              {{ "TEST.SUBMISSION_DETAILS.LABELS.SCORE_TOTAL" | translate }}:
            </strong>
            {{ submissionTest.realScores.total }} /
            {{ submissionTest.possibleScores.max }}
          </p>
        </div>
      </div>

      <ng-container>
        <div class="row">
          <div class="col-12">
            <form [formGroup]="gradeForm">
              <ng-container
                *ngFor="
                  let section of submissionTest.sections;
                  let sectionIndex = index
                "
              >
                <div class="row">
                  <div class="col-12 mb-8">
                    <label class="h3"
                      ><strong
                        >{{
                          "TEST.SUBMISSION_DETAILS.TITLES.SECTION" | translate
                        }}
                        {{ sectionIndex + 1 }}:</strong
                      >
                      {{ section.title }}</label
                    >
                    <p *ngIf="section.description">{{ section.description }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div>
                      <div
                        class="form-group mb-12"
                        *ngFor="
                          let question of section.questions;
                          let i = index
                        "
                      >
                        <label class="mb-4 h5"
                          ><strong
                            >{{
                              "TEST.SUBMISSION_DETAILS.TITLES.QUESTION"
                                | translate
                            }}
                            {{ i + 1 }}:</strong
                          >
                          {{ question.questionText }}
                          {{ getQuestionGradeText(question) }}</label
                        >

                        <ng-container
                          *ngIf="question.fileUrls.length > 0"
                          class="row"
                        >
                          <ng-container
                            *ngIf="getImageUrls(question.fileUrls) as imageUrls"
                          >
                            <div
                              *ngFor="let imageUrl of imageUrls"
                              class="mb-4"
                            >
                              <app-image-wrapper [src]="imageUrl" [height]="300"></app-image-wrapper>
                            </div>
                          </ng-container>

                          <ng-container
                            *ngIf="getAudioUrls(question.fileUrls) as audioUrls"
                          >
                            <div
                              *ngFor="let audioUrl of audioUrls"
                              class="mb-4"
                            >
                              <app-audio-player
                                [audioSource]="audioUrl"
                              ></app-audio-player>
                            </div>
                          </ng-container>
                        </ng-container>

                        <!-- Display Multiple Choice Question -->
                        <div
                          *ngIf="
                            QuestionUtil.isQuestionTypeIgnoreCase(
                              question.type.name,
                              QuestionUtil.types.MULTIPLE_CHOICE
                            )
                          "
                        >
                          <app-radio-button
                            [answers]="question.answers"
                            [questionId]="question.id"
                            [showResults]="true"
                            [selectedAnswerId]="question.learnerAnswer.answerId"
                          ></app-radio-button>
                        </div>

                        <!-- Display Fill in the Blank Question -->
                        <div
                          *ngIf="
                            QuestionUtil.isQuestionTypeIgnoreCase(
                              question.type.name,
                              QuestionUtil.types.FILL_IN_THE_BLANK
                            )
                          "
                        >
                          <p>
                            <strong
                              >{{
                                "TEST.SUBMISSION_DETAILS.LABELS.LEARNERS_ANSWER"
                                  | translate
                              }}:</strong
                            >
                            {{ getFillInTheBlankAnswerText(question) }}
                          </p>
                          <p *ngIf="!question.learnerAnswer.isCorrect">
                            <strong
                              >{{
                                "TEST.SUBMISSION_DETAILS.LABELS.CORRECT_ANSWR"
                                  | translate
                              }}:</strong
                            >
                            {{ getCorrectAnswerText(question) }}
                          </p>
                        </div>

                        <!-- Display Open Question -->
                        <!-- Add this section inside the <div class="form-group"> for open questions -->
                        <div
                          *ngIf="
                            QuestionUtil.isQuestionTypeIgnoreCase(
                              question.type.name,
                              QuestionUtil.types.OPEN_QUESTION
                            )
                          "
                        >
                          <p>
                            <strong
                              >{{
                                "TEST.SUBMISSION_DETAILS.LABELS.LEARNERS_ANSWER"
                                  | translate
                              }}:</strong
                            >
                          </p>
                          <p>{{ question.learnerAnswer.answerText }}</p>
                          <div *ngIf="isEditingScore">
                            <label for="question-{{ question.id }}-score"
                              ><strong
                                >{{
                                  "TEST.SUBMISSION_DETAILS.LABELS.SCORE"
                                    | translate
                                }}:</strong
                              ></label
                            >
                            <div class="input-group">
                              <input
                                type="number"
                                class="form-control"
                                id="question-{{ question.id }}-score"
                                formControlName="question-{{
                                  question.id
                                }}-score"
                                min="0"
                                max="20"
                                required
                                placeholder="0"
                                [class.is-invalid]="
                                  gradeForm.get(
                                    'question-' + question.id + '-score'
                                  ).invalid &&
                                  (gradeForm.get(
                                    'question-' + question.id + '-score'
                                  ).dirty ||
                                    gradeForm.get(
                                      'question-' + question.id + '-score'
                                    ).touched)
                                "
                              />
                              <div class="input-group-append">
                                <span class="input-group-text">/ 20</span>
                              </div>
                            </div>
                            <small
                              class="text-danger"
                              *ngIf="
                                gradeForm.get(
                                  'question-' + question.id + '-score'
                                ).invalid &&
                                (gradeForm.get(
                                  'question-' + question.id + '-score'
                                ).dirty ||
                                  gradeForm.get(
                                    'question-' + question.id + '-score'
                                  ).touched)
                              "
                            >
                              <span
                                *ngIf="
                                  gradeForm.get(
                                    'question-' + question.id + '-score'
                                  ).errors?.required
                                "
                              >
                                {{
                                  "TEST.SUBMISSION_DETAILS.ERRORS.SCORE_REQUIRED"
                                    | translate
                                }}
                              </span>
                              <span
                                *ngIf="
                                  gradeForm.get(
                                    'question-' + question.id + '-score'
                                  ).errors?.min
                                "
                              >
                                {{
                                  "TEST.SUBMISSION_DETAILS.ERRORS.SCORE_POSITIVE"
                                    | translate
                                }}
                              </span>
                              <span
                                *ngIf="
                                  gradeForm.get(
                                    'question-' + question.id + '-score'
                                  ).errors?.max
                                "
                              >
                                {{
                                  "TEST.SUBMISSION_DETAILS.ERRORS.SCORE_LESS_THAN"
                                    | translate
                                }}
                              </span>
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </form>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isEditingScore">
        <div class="d-flex justify-content-end">
          <button class="btn btn-secondary" (click)="isEditingScore = false">
            {{ "BUTTONS.CANCEL" | translate }}
          </button>
          <button
            class="btn btn-primary ml-2"
            (click)="submitScore()"
            [disabled]="gradeForm.invalid"
          >
            {{ "BUTTONS.SAVE" | translate }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"> {{ "MENU.LOADING_DOTS" | translate }} </span>
    </div>
  </div>
</ng-template>
