<ng-container *ngIf="submissionTest$ | async as submissionTest; else loading">
  <div class="card card-custom">
    <!-- Header -->
    <div class="row">
      <div class="col-12">
        <div
          class="card-header border-0 text-white"
          style="background-color: white; padding: 2rem 2.25rem"
        >
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <h3 class="card-title font-weight-bolder text-dark">
                {{ "TEST.SUBMISSION_DETAILS.SUBMISSION_DETAILS" | translate }}
              </h3>
              <div>
                <button
                  class="btn btn-secondary"
                  routerLink="/test/submitted/list"
                >
                  {{ "BUTTONS.BACK_TO_LIST" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="card-body pt-2">
      <div class="row">
        <div class="col-12">
          <p class="mb-4">
            <strong>
              {{ "TEST.SUBMISSION_DETAILS.SUBMITTED_TEST" | translate }}
            </strong> {{ submissionTest.title }}
          </p>
          <p class="mb-4"><strong>
            {{ "TEST.SUBMISSION_DETAILS.SUBMITTED_BY" | translate }}
          </strong> {{ submissionTest.submittedBy.firstName }} {{ submissionTest.submittedBy.lastName }}</p>
          <p class="mb-4">
            <strong>
              {{ "TEST.SUBMISSION_DETAILS.SUBMITTED_AT" | translate }}
            </strong>
            {{ submissionTest.submittedAt | date }}
          </p>
          <p class="mb-4">
            <strong>
              {{ "TEST.SUBMISSION_DETAILS.SCORE_AUTO" | translate }}
            </strong> {{ submissionTest.scoreAuto }} /
            {{ submissionTest.testAttempt.possibleScores.maxAuto }}
          </p>

          <ng-container *ngIf="submissionTest.scoreManual; else notGradedDetail">
            <p class="mb-4">
              <strong>
                {{ "TEST.SUBMISSION_DETAILS.SCORE_MANUAL" | translate }}
              </strong> {{ submissionTest.scoreManual }} /
              {{ submissionTest.testAttempt.possibleScores.maxNotAuto }}
            </p>
          </ng-container>
          <ng-template #notGradedDetail>
            <p><strong>
              {{ "TEST.SUBMISSION_DETAILS.SCORE_MANUAL" | translate }}
            </strong> {{ "TEST.SUBMISSION_DETAILS.NO_GRADE" | translate }} </p>
          </ng-template>
        </div>
      </div>
      <div class="row" *ngIf="AuthUtil.permitted([AuthUtil.roles.SuperAdmin, AuthUtil.roles.SpanishTeacher])">
        <div class="col-12">
          <h4>
            {{ "TEST.SUBMISSION_DETAILS.EDIT_SCORE" | translate }}
          </h4>
          <ng-container *ngIf="!isEditingScore; else editScoreTemplate">
            <p *ngIf="submissionTest.realScores; else notGradedTemplate">
              <strong>
                {{ "TEST.SUBMISSION_DETAILS.CURRENT_SCORE" | translate }}
              </strong> {{ submissionTest.realScores.total }} /
              {{ submissionTest.testAttempt.possibleScores.max }}
            </p>
            <ng-template #notGradedTemplate>
              <p>
                {{ "TEST.SUBMISSION_DETAILS.NO_GRADE" | translate }}
              </p>
            </ng-template>
            <button class="btn btn-primary" (click)="isEditingScore = true">
              {{ "TEST.SUBMISSION_DETAILS.EDIT_SCORE" | translate }}
            </button>
          </ng-container>













          <ng-template #editScoreTemplate>
            <form [formGroup]="gradeForm" (ngSubmit)="submitScore()">
              <div class="form-group">
                <label for="grade">
                  {{ "TEST.SUBMISSION_DETAILS.SCORE" | translate }}
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="grade"
                    formControlName="grade"
                    min="0"
                    [max]="submissionTest.testAttempt.possibleScores.max"
                    required
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      >/ {{ submissionTest.testAttempt.possibleScores.max }}</span
                    >
                  </div>
                </div>
                <div *ngIf="gradeForm.get('grade').invalid && gradeForm.get('grade').touched">
                  <small class="text-danger" *ngIf="gradeForm.get('grade').errors.required">
                    {{ "EXERCISE.SUBMISSION.GRADE_REQUIRED" | translate }}
                  </small>
                  <small class="text-danger" *ngIf="gradeForm.get('grade').errors.min">
                    {{ "EXERCISE.SUBMISSION.GRADE_POSITIVE" | translate }}
                  </small>
                  <small class="text-danger" *ngIf="gradeForm.get('grade').errors.max">
                    {{ "EXERCISE.SUBMISSION.GRADE_LESS_THAN" | translate }} {{ submissionTest.exercise.maxGrade }}.
                  </small>
                </div>
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="gradeForm.invalid"
                >
                  {{ "TEST.SUBMISSION_DETAILS.SCORE_SUBMIT" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btn-secondary ml-2"
                  (click)="isEditingScore = false"
                >
                 {{ "BUTTONS.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"> {{ "MENU.LOADING_DOTS" | translate }} </span>
    </div>
  </div>
</ng-template>
