<div class="card card-custom card-sticky gutter-b" id="kt_page_sticky_card">
  <!-- Header -->
  <div class="card-header card-header-tabs-line">
    <div class="card-toolbar mr-4">
      <ul class="nav nav-tabs nav-bold nav-tabs-line">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_7_1">
            <span class="nav-icon"><i class="fa fa-user"></i></span>
            <span class="nav-text">{{
              "REGISTRATION.GENERAL.PERSONAL" | translate
            }}</span>
            <span
              *ngIf="
                personalFormProgress.required -
                  personalFormProgress.requiredAndValid >
                0
              "
              class="label label-rounded ml-2"
              >{{
                personalFormProgress.required -
                  personalFormProgress.requiredAndValid
              }}</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_2">
            <span class="nav-icon"><i class="fa fa-info-circle"></i></span>
            <span class="nav-text">{{
              "REGISTRATION.GENERAL.ORGANIZATIONAL" | translate
            }}</span>
            <span
              *ngIf="
                organizationalFormProgress.required -
                  organizationalFormProgress.requiredAndValid >
                0
              "
              class="label label-rounded ml-2"
              >{{
                organizationalFormProgress.required -
                  organizationalFormProgress.requiredAndValid
              }}</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_3">
            <span class="nav-icon"><i class="fa fa-file-image"></i></span>
            <span class="nav-text">{{
              "REGISTRATION.GENERAL.SCANS" | translate
            }}</span>
            <span
              *ngIf="
                scansFormProgress.required -
                  scansFormProgress.requiredAndValid >
                0
              "
              class="label label-rounded ml-2"
              >{{
                scansFormProgress.required - scansFormProgress.requiredAndValid
              }}</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_4">
            <span class="nav-icon"><i class="fa fa-question-circle"></i></span>
            <span class="nav-text">{{
              "REGISTRATION.GENERAL.QUESTIONS" | translate
            }}</span>
            <span
              *ngIf="
                questionsFormProgress.required -
                  questionsFormProgress.requiredAndValid >
                0
              "
              class="label label-rounded ml-2"
              >{{
                questionsFormProgress.required -
                  questionsFormProgress.requiredAndValid
              }}</span
            ></a
          >
        </li>
      </ul>
    </div>
    <div class="card-toolbar flex-grow-1">
      <div class="progress flex-grow-1 mr-2">
        <div
          class="progress-bar bg-primary"
          [style.width]="
            (personalFormProgress.requiredAndValid +
              organizationalFormProgress.requiredAndValid +
              scansFormProgress.requiredAndValid +
              questionsFormProgress.requiredAndValid) /
              (personalFormProgress.required +
                organizationalFormProgress.required +
                scansFormProgress.required +
                questionsFormProgress.required) | percent
          "
        >
          {{
            (personalFormProgress.requiredAndValid +
              organizationalFormProgress.requiredAndValid +
              scansFormProgress.requiredAndValid +
              questionsFormProgress.requiredAndValid) /
              (personalFormProgress.required +
                organizationalFormProgress.required +
                scansFormProgress.required +
                questionsFormProgress.required) | percent
          }}
        </div>
      </div>
      <button
        (click)="saveForm(false)"
        class="btn btn-light-primary font-weight-bolder mr-2"
        [ngClass]="{ 'spinner spinner-left': saving }"
      >
        {{ "REGISTRATION.GENERAL.SAVE" | translate }}
      </button>
      <button
        [disabled]="
          !(
            formContainer.controls.personalForm.valid &&
            formContainer.controls.organizationalForm.valid &&
            formContainer.controls.scansForm.valid &&
            formContainer.controls.questionsForm.valid
          )
        "
        class="btn btn-primary font-weight-bolder"
        [ngClass]="{ 'spinner spinner-left': sending }"
        data-toggle="modal"
        data-target="#agreement-box"
      >
        {{ "REGISTRATION.GENERAL.SEND" | translate }}
      </button>
    </div>
  </div>
  <!-- Body -->
  <div class="card-body">
    <div *ngIf="initialData$ | async as initialData; else loadingOrError">
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="kt_tab_pane_7_1"
          role="tabpanel"
          aria-labelledby="kt_tab_pane_7_1"
        >
          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <app-personal-information
                [(personalForm)]="formContainer.controls.personalForm"
                (personalFormCounted)="personalFormProgress = $event"
                [role]="role"
                [initialData]="initialData"
              ></app-personal-information>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="kt_tab_pane_7_2"
          role="tabpanel"
          aria-labelledby="kt_tab_pane_7_2"
        >
          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <app-organizational-information
                [(organizationalForm)]="
                  formContainer.controls.organizationalForm
                "
                (organizationalFormCounted)="
                  organizationalFormProgress = $event
                "
                [role]="role"
                [initialData]="initialData"
              ></app-organizational-information>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="kt_tab_pane_7_3"
          role="tabpanel"
          aria-labelledby="kt_tab_pane_7_3"
        >
          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <app-scan-uploads
                [(scansForm)]="formContainer.controls.scansForm"
                (scansFormCounted)="scansFormProgress = $event"
              ></app-scan-uploads>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="kt_tab_pane_7_4"
          role="tabpanel"
          aria-labelledby="kt_tab_pane_7_4"
        >
          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <app-questions
                [(questionsForm)]="formContainer.controls.questionsForm"
                (questionsFormCounted)="questionsFormProgress = $event"
                [role]="role"
                [initialData]="initialData"
              ></app-questions>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Agreement dialog -->
<div
  class="modal fade"
  id="agreement-box"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdrop"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Terms of agreement</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i aria-hidden="true" class="ki ki-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="my-2">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius
          cupiditate facere molestiae, repudiandae quaerat omnis quisquam
          similique, dolorem vel, inventore recusandae! Iure, hic perspiciatis
          quos tempora neque expedita iusto facilis! Eum minima facilis iusto,
          illum atque quas ab ipsum voluptas dignissimos nemo at laboriosam
          laborum impedit rem recusandae ullam quia doloremque provident non
          repudiandae, rerum iste. Eius et a excepturi. Sunt tempore ad soluta
          labore nisi magni molestias fuga natus libero rerum, vero cumque
          temporibus, quas perspiciatis odit obcaecati vel fugiat eaque error
          sequi dolorem sapiente earum. Ullam, iusto dignissimos! Architecto
          eaque, enim asperiores veniam nobis porro non eos obcaecati assumenda
          illo doloribus voluptate, exercitationem laudantium, cupiditate id
          tempora accusantium! Eveniet voluptate nulla non, laudantium
          voluptatum impedit aspernatur quasi accusantium! Placeat, distinctio
          iure inventore delectus magnam, cupiditate, et doloremque itaque
          repellat soluta obcaecati ut architecto aliquam quas nesciunt
          temporibus modi voluptates maxime quae illo consectetur harum dolorum.
          Ullam, consectetur nihil.
        </div>
        <div class="my-2">
          <label class="checkbox">
            <input [formControl]="agreementControl" type="checkbox" />
            <span></span>
            &nbsp;&nbsp;I agree with the terms mentioned above
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-light-primary font-weight-bolder"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          (click)="saveForm(true)"
          type="submit"
          class="btn btn-primary font-weight-bolder"
          data-dismiss="modal"
          [disabled]="!agreementControl.valid"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <span *ngIf="errorMessage; else loading" class="text-danger">
    {{ "ERRORS.TRY_AGAIN" | translate }}
  </span>
  <ng-template #loading>
    <div class="spinner spinner-primary spinner-lg"></div>
  </ng-template>
</ng-template>
