<div class="card card-custom card-sticky gutter-b" id="kt_page_sticky_card">
  <!-- Header -->
  <div class="card-header card-header-tabs-line">
    <div class="card-toolbar mr-4">
      <ul class="nav nav-tabs nav-bold nav-tabs-line">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_7_1">
            <span class="nav-icon"><i class="fa fa-user"></i></span>
            <span class="nav-text">Personal</span>
            <span
              *ngIf="
                personalFormProgress.required -
                  personalFormProgress.requiredAndValid >
                0
              "
              class="label label-rounded ml-2"
              >{{
                personalFormProgress.required -
                  personalFormProgress.requiredAndValid
              }}</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_2">
            <span class="nav-icon"><i class="fa fa-info-circle"></i></span>
            <span class="nav-text">Organizational</span>
            <span
              *ngIf="
                organizationalFormProgress.required -
                  organizationalFormProgress.requiredAndValid >
                0
              "
              class="label label-rounded ml-2"
              >{{
                organizationalFormProgress.required -
                  organizationalFormProgress.requiredAndValid
              }}</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_3">
            <span class="nav-icon"><i class="fa fa-file-image"></i></span>
            <span class="nav-text">Scans</span>
            <span
              *ngIf="
                scansFormProgress.required -
                  scansFormProgress.requiredAndValid >
                0
              "
              class="label label-rounded ml-2"
              >{{
                scansFormProgress.required - scansFormProgress.requiredAndValid
              }}</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_4">
            <span class="nav-icon"><i class="fa fa-question-circle"></i></span>
            <span class="nav-text">Questions</span>
            <span
              *ngIf="
                questionsFormProgress.required -
                  questionsFormProgress.requiredAndValid >
                0
              "
              class="label label-rounded ml-2"
              >{{
                questionsFormProgress.required -
                  questionsFormProgress.requiredAndValid
              }}</span
            ></a
          >
        </li>
      </ul>
    </div>
    <div class="card-toolbar flex-grow-1">
      <div class="progress flex-grow-1 mr-2">
        <div
          class="progress-bar bg-primary"
          [style.width]="
            (personalFormProgress.requiredAndValid +
              organizationalFormProgress.requiredAndValid +
              scansFormProgress.requiredAndValid +
              questionsFormProgress.requiredAndValid) /
              (personalFormProgress.required +
                organizationalFormProgress.required +
                scansFormProgress.required +
                questionsFormProgress.required) | percent
          "
        >
          {{
            (personalFormProgress.requiredAndValid +
              organizationalFormProgress.requiredAndValid +
              scansFormProgress.requiredAndValid +
              questionsFormProgress.requiredAndValid) /
              (personalFormProgress.required +
                organizationalFormProgress.required +
                scansFormProgress.required +
                questionsFormProgress.required) | percent
          }}
        </div>
      </div>
      <button
        (click)="saveForm(false)"
        class="btn btn-light-primary font-weight-bolder mr-2"
      >
        Save
      </button>
      <button
        [disabled]="
          !(
            formContainer.controls.personalForm.valid &&
            formContainer.controls.organizationalForm.valid &&
            formContainer.controls.scansForm.valid &&
            formContainer.controls.questionsForm.valid
          )
        "
        class="btn btn-primary font-weight-bolder"
      >
        Send
      </button>
    </div>
  </div>
  <!-- Body -->
  <div class="card-body">
    <div *ngIf="initialData$ | async as initialData; else loadingOrError">
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="kt_tab_pane_7_1"
          role="tabpanel"
          aria-labelledby="kt_tab_pane_7_1"
        >
          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <app-personal-information
                [(personalForm)]="formContainer.controls.personalForm"
                (personalFormCounted)="personalFormProgress = $event"
                [role]="role"
                [initialData]="initialData"
              ></app-personal-information>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="kt_tab_pane_7_2"
          role="tabpanel"
          aria-labelledby="kt_tab_pane_7_2"
        >
          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <app-organizational-information
                [(organizationalForm)]="
                  formContainer.controls.organizationalForm
                "
                (organizationalFormCounted)="
                  organizationalFormProgress = $event
                "
                [role]="role"
                [initialData]="initialData"
              ></app-organizational-information>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="kt_tab_pane_7_3"
          role="tabpanel"
          aria-labelledby="kt_tab_pane_7_3"
        >
          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <app-scan-uploads
                [(scansForm)]="formContainer.controls.scansForm"
                (scansFormCounted)="scansFormProgress = $event"
              ></app-scan-uploads>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="kt_tab_pane_7_4"
          role="tabpanel"
          aria-labelledby="kt_tab_pane_7_4"
        >
          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <app-questions
                [(questionsForm)]="formContainer.controls.questionsForm"
                (questionsFormCounted)="questionsFormProgress = $event"
                [role]="role"
                [initialData]="initialData"
              ></app-questions>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Agreement dialog -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Terms of agreement</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
          saepe, neque quod voluptates nisi dicta impedit. Quisquam repudiandae
          alias laboriosam? Aperiam doloribus quam corporis nisi voluptatem est
          ipsum ut voluptates. Porro sit, dolores minus aut earum quod sunt
          ratione veritatis, modi atque sapiente, nesciunt exercitationem maxime
          iusto! Ab, aspernatur obcaecati sed, rerum commodi in sapiente,
          blanditiis quae fugiat quis labore? Quisquam nesciunt maiores sint
          ipsa sunt temporibus ducimus vel corporis! Praesentium, eaque ea,
          velit est veritatis odio amet minima accusamus iusto cum eligendi
          animi obcaecati voluptatibus a, laboriosam ipsa nostrum! Vitae
          suscipit itaque minima voluptas sequi aperiam ducimus pariatur nam.
          Labore maiores vel eos quas laudantium nisi! Fuga beatae, ea accusamus
          earum obcaecati optio consequatur asperiores velit, accusantium unde
          veritatis. Nulla earum repellat ea aspernatur sapiente ipsa sed in
          temporibus quo cupiditate, nisi repellendus doloribus inventore alias
          dolores neque et maiores voluptates nobis dolor. Et sunt ut nesciunt
          iusto reprehenderit.
        </div>
        <div class="container position-relative">
          <div class="form-check position-absolute top-0 end-0">
            <input
              [formControl]="agreementControl"
              class="form-check-input"
              type="checkbox"
              value=""
              id="agreementCheckbox"
            />
            <label class="form-check-label" for="agreementCheckbox">
              I agree with the terms mentioned above
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          (click)="saveForm(true)"
          type="submit"
          class="btn btn-primary"
          [disabled]="!agreementControl.valid"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <span *ngIf="errorMessage; else loading"></span>
  <ng-template #loading>
    <span>Laden...</span>
  </ng-template>
</ng-template>
