<!-- <router-outlet></router-outlet> -->
<!--begin::Profile Overview-->
<!-- <div class="d-flex flex-row">

    <div class="flex-row-fluid ml-lg-8">
        <router-outlet></router-outlet>
    </div>

</div> -->
<!--end::Profile Overview-->

<!-- ============== -->


<div class="card card-custom">
    <!-- Header -->

    <div class="row">
        <div class="col-12">
            <div class="card-header border-0 text-white" style="background-color: white; padding: 2rem 2.25rem;">
                <div class="row">
                    <div class="col-12 col-md-8 w-100">
                        <h3 class="card-title font-weight-bolder text-dark">Change and Assign Roles</h3>
                    </div>
                    <!-- <div class="col-12 col-md-4">
                        <button type="submit" id="kt_login_signin_submit"
                            class="btn btn-primary font-weight-bolder font-size-h6 px-8 float-right" [disabled]="false"
                            routerLink="/library/add-item">
                            Add New Book
                        </button>
                    </div> -->
                </div>


                <!-- <div class="card-toolbar">
                    <div ngbDropdown placement="bottom-right" class="dropdown dropdown-inline" title="Quick actions">
                        <a ngbDropdownToggle class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ki ki-bold-more-ver"></i>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                            <app-dropdown-menu1></app-dropdown-menu1>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-2">
        <!--begin::Form Group-->
        <div class="form-group row mb-10">
            <div class="col-12 col-md-12">
                <div class="input-group input-group-lg input-group-solid">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>

                    <input (keyup)="applyFilter($event.target.value)" type="email"
                        class="form-control form-control-lg form-control-solid force-pl-5" placeholder="Filter..."
                        style="padding-left: 10px;" />
                </div>
            </div>
        </div>
        <!--begin::Form Group-->

        <!--begin: Item-->
        <div class="d-flex flex-wrap align-items-center mb-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>SuperAdmin</th>
                        <th>Admin</th>
                        <th>Librarian</th>
                        <th>Volunteer</th>
                        <th>Student</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                       <td>Kadir</td>
                       <td>Olmez</td> 
                       <td>kadir.olmez@outlook.com</td>
                       <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                       <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked></td>
                       <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                       <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                       <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                    </tr>
                    <tr>
                        <td>Martijn</td>
                        <td>Bogaert</td> 
                        <td>martijn.bogaert@gmail.com</td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked></td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                     </tr>
                     <tr *ngFor="let user of userService.users | async">
                        <td>user.userName</td>
                        <td>Bogaert</td> 
                        <td>martijn.bogaert@gmail.com</td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked></td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
                     </tr>
                </tbody>
            </table>
        </div>
        <!--end: Item-->

        <!-- <div class="d-flex flex-wrap align-items-center mb-10">
            <div class="example-preview flex-grow-1  ">
                <div class="example-container ">
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvents($event)" [pageIndex]="page"
                        [showFirstLastButtons]="true" [length]="(bookService.books | async)?.length">
                    </mat-paginator>
                </div>
            </div>
        </div> -->
    </div>
</div>