<div class="card card-custom gutter-b">  
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
     <ng-container *ngIf="class; else elseTemplate">
      {{  "LIBRARY.CLASS.CREATE.BEWERK" | translate }}
          </ng-container> 
          <ng-template #elseTemplate>
            {{
              "LIBRARY.CLASS.CREATE.NAAM" | translate
            }}
          </ng-template>
        </h3>
      </div>
      <div class="card-toolbar">
        <a
          type="button"
          class="btn btn-light"
          routerLink="/class/overview"
        >
          <i class="fa fa-arrow-left"></i>{{
            "LIBRARY.CLASS.CREATE.TERUG" | translate
          }}
        </a>
      </div>
    </div>
    
<!-- Hier komt al de ret tussen -->
    <div class="card-body">
      <form 
      action="#"
       class="form form-label-right"
        [formGroup]="formGroup" 
        (ngSubmit)="save()">
        <div class="form-group row">

          <div class="col-12 col-md-6">
            <label>{{"LIBRARY.CLASS.CREATE.TITEL.NAAM" | translate }}</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="..."
              name="Title"
              [class.is-invalid]="isControlInvalid('Title')"
              [class.is-valid]="isControlValid('Title')"
              formControlName="Title"
              required
            />
            <div class="feedback" *ngIf="!isControlTouched('Title')">
              {{"LIBRARY.CLASS.CREATE.TITEL.BES" | translate }}
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('Title')">
              <!-- Name was entered correct -->
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'Title')"
            >
            {{"LIBRARY.CLASS.CREATE.TITEL.ER" | translate }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'Title')"
            >
            {{"LIBRARY.CLASS.CREATE.TITEL.MIN" | translate }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'Title')"
            >
            {{"LIBRARY.CLASS.CREATE.TITEL.MAX" | translate }}
            </div>
          </div>

          <div class="col-12 col-md-6">
            <label>{{"LIBRARY.CLASS.CREATE.AUTEUR.NAAM" | translate }}</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder=" ..."
              name="Author"
              [class.is-invalid]="isControlInvalid('Author')"
              [class.is-valid]="isControlValid('Author')"
              formControlName="Author"
              required
            />
            <div class="feedback" *ngIf="!isControlTouched('Author')">
              {{"LIBRARY.CLASS.CREATE.AUTEUR.BES" | translate }}
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('Author')">
              <!-- Name was entered correct -->
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'Author')"
            >
            {{"LIBRARY.CLASS.CREATE.AUTEUR.ER" | translate }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'Author')"
            >
            {{"LIBRARY.CLASS.CREATE.AUTEUR.MIN" | translate }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'Author')"
            >
            {{"LIBRARY.CLASS.CREATE.AUTEUR.MAX" | translate }}
            </div>
          </div> 

      </div>

      <div class="form-group row">
        <!--begin::Form group-->
        <div class="col-12 col-md-6">
          <label>{{"LIBRARY.CLASS.CREATE.DATUM.NAAM" | translate }}</label>
          <input
            class="form-control form-control-solid form-control-lg"
            (click)="d.toggle()"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
            [minDate]="{ year: 2000, month: 1, day: 1 }"
            [maxDate]="{ year: 3050, month: 1, day: 19 }"
            #d="ngbDatepicker"
            name="CreationDate"
            formControlName="CreationDate"
            placeholder="2000-01-01"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('CreationDate')"
            [class.is-valid]="isControlValid('CreationDate')"
            required
          />
          <div class="feedback" *ngIf="!isControlTouched('CreationDate')">
            {{"LIBRARY.CLASS.CREATE.DATUM.BES" | translate }}
          </div>
          <div class="valid-feedback" *ngIf="isControlValid('CreationDate')">
            <!-- Brand was entered correct -->
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('required', 'CreationDate')"
          >
          {{"LIBRARY.CLASS.CREATE.DATUM.ER" | translate }}
          </div>
        </div>

        <div class="col-12 col-md-6">
          <label>{{"LIBRARY.CLASS.CREATE.PUBLIEK.NAAM" | translate }}</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="Public"
            formControlName="Public"
            aria-placeholder="voor wie is dat hier he"
            [class.is-invalid]="isControlInvalid('Public')"
            [class.is-valid]="isControlValid('Public')"
            required
          >
            <option value="">
              {{"LIBRARY.CLASS.CREATE.PUBLIEK.BES" | translate }}
            </option>
            <option value="kleuterschool">
              {{"LIBRARY.CLASS.CREATE.PUBLIEK.KLEUTER" | translate }}
            </option>
            <option value="lagerschool">
              {{"LIBRARY.CLASS.CREATE.PUBLIEK.LAGERESCHOOL" | translate }}
            </option>
            <option value="middelbaar">
              {{"LIBRARY.CLASS.CREATE.PUBLIEK.MIDDELBAAR" | translate }}
            </option>
          </select>
          <div class="feedback" *ngIf="!isControlTouched('Public')">
            {{"LIBRARY.CLASS.CREATE.PUBLIEK.BES" | translate }}
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('required', 'Public')" >
            {{"LIBRARY.CLASS.CREATE.PUBLIEK.ER" | translate }}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <!--begin::Form group-->
        <div class="col-12 col-md-6">
          <label>{{"LIBRARY.CLASS.CREATE.LANGUAGE.NAAM" | translate }}</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="Language"
            formControlName="Language"
            aria-placeholder="Language"
            [class.is-invalid]="isControlInvalid('Language')"
            [class.is-valid]="isControlValid('Language')"
            required
          >
            <option value="">
              {{"LIBRARY.CLASS.CREATE.LANGUAGE.BES" | translate }}
            </option>
            <option value="NEDERLANDS">
              {{"LIBRARY.CLASS.CREATE.LANGUAGE.NEDERLANDS" | translate }}
            </option>
            <option value="ENGELS">
              {{"LIBRARY.CLASS.CREATE.LANGUAGE.ENGELS" | translate }}
            </option>
            <option value="SPAANS">
              {{"LIBRARY.CLASS.CREATE.LANGUAGE.SPAANS" | translate }}
            </option>
          </select>
          <div class="feedback" *ngIf="!isControlTouched('Language')">
            {{"LIBRARY.CLASS.CREATE.LANGUAGE.BES" | translate }}
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('required', 'Language')" >
            {{"LIBRARY.CLASS.CREATE.LANGUAGE.ER" | translate }}
          </div>  <br>
          <label>{{"LIBRARY.CLASS.SUBJECT.TITLE" | translate }}</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="Subject"
            formControlName="Subject"
            aria-placeholder="Subject"
            [class.is-invalid]="isControlInvalid('Subject')"
            [class.is-valid]="isControlValid('Subject')"
            required
          >
            <option value="">
              {{"LIBRARY.CLASS.SUBJECT.TITLE" | translate }}
            </option>
            <option *ngFor="let enum of ClassSubjects | keyvalue" value="{{enum.key}}">
              {{enum.value | translate }}
           </option>
          <option value='OT'>
            {{ "LIBRARY.CLASS.SUBJECT.OTHER" | translate }}
          </option>
          </select>
          <div class="feedback" *ngIf="!isControlTouched('Subject')">
            {{"LIBRARY.CLASS.CREATE.LANGUAGE.BES" | translate }}
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('required', 'Subject')" >
            {{"LIBRARY.CLASS.SUBJECT.ER" | translate }}
          </div>  
         </div>

        <div class="col-12 col-md-6">
          <label class="col-12">
            <span class="material-icons">
            attach_file
            </span>
            {{"LIBRARY.CLASS.CREATE.UP.NAAM" | translate }}<br>
            {{"LIBRARY.CLASS.CREATE.UP.BES" | translate }}   
           
          </label>
          <div
          name="PdfUrl"
          class="custom-dropzone form-control form-control-solid border"
          ngx-dropzone
          [accept]="'.pdf , .docx, .doc, .xls,.xlsx,.csv,.tsv,.ppt,.pptx,.pages,.odt,.rtf,.zip, image/*'"
          (change)="onSelectClassImage($event)"
          required
        >
          <ngx-dropzone-label>
            <ng-container *ngIf="!class">
            <p class="form-text text-muted">
              {{"LIBRARY.CLASS.CREATE.UP.HIER" | translate }}
            </p>
            </ng-container>
            <ng-container *ngIf="class">
              
              <p>
               <br> {{  "LIBRARY.CLASS.CREATE.WAAR" | translate }}<a href='{{class.pdfUrl}}' target="_blank"  class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                '{{class.pdfUrl}}'
            </a>
              </p>
                  </ng-container> 
          </ngx-dropzone-label>
         
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of classImages"
            [file]="f"
            [removable]="true"
            (removed)="onRemoveClassImage(f)"
            id='zone'
          >
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
          
        </div>
        <div *ngIf="isKlaar()" class="klaar">
          <span class="material-icons">
            file_download_done
            </span>
            {{"LIBRARY.DON" | translate }}   
         </div>
         <div *ngIf="isBezig()" class="waar">
          <span class="material-icons">
            downloading
            </span>
            {{"LIBRARY.DOWN" | translate }}  
         </div>
        <div class="feedback" *ngIf="!isControlTouched('PdfUrl')">
          {{"LIBRARY.CLASS.CREATE.UP.BEST" | translate }}     
        </div>
       
        </div>
      </div>

      
      <div class="form-group row">
        <!--begin::Form group-->     
          <label>  {{"LIBRARY.CLASS.CREATE.BESCHRIJVING.NAAM" | translate }}</label >
            <textarea
              name="Description"
              class="form-control form-control-lg form-control-solid"
              formControlName="Description"
              style="min-height: 250px; padding: 13px"
              placeholder="The class is about ...."
              [class.is-invalid]="isControlInvalid('Description')"
              [class.is-valid]="isControlValid('Description')"
              required
            ></textarea>
            <div class="feedback" *ngIf="!isControlTouched('Description')">
              {{"LIBRARY.CLASS.CREATE.BESCHRIJVING.BES" | translate }}
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('Description')">
              <!-- Name was entered correct -->
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'Description')"
            >
            {{"LIBRARY.CLASS.CREATE.BESCHRIJVING.ER" | translate }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'Description')"
            >
            {{"LIBRARY.CLASS.CREATE.BESCHRIJVING.MIN" | translate }}
            </div>
        
      </div>


     <div *ngIf="class">
       <p> {{"LIBRARY.CLASS.VRAAG" | translate }}</p>
       <input type="checkbox" name="extra"  [checked]="value === 'extra'" (click)="value = 'extra'"> {{"LIBRARY.CLASS.YES" | translate }} <br>
       <input type="checkbox"  name="no" [checked]="value === 'no'" (click)="value = 'no'" >{{"LIBRARY.CLASS.NO" | translate }} 
       <div *ngIf="value === 'extra'">
        <div class="form-group row">
          <!--begin::Form group-->
          <div class="col-12 col-md-6">
            <label>{{"LIBRARY.CLASS.CREATE.LANGUAGE.NAAM" | translate }}</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="Extra_Language"
            formControlName="Extra_Language"
            aria-placeholder="Extra_Language"
          >
            <option value="">
              {{"LIBRARY.CLASS.CREATE.LANGUAGE.BES" | translate }}
            </option>
            <option value="NEDERLANDS">
              {{"LIBRARY.CLASS.CREATE.LANGUAGE.NEDERLANDS" | translate }}
            </option>
            <option value="ENGELS">
              {{"LIBRARY.CLASS.CREATE.LANGUAGE.ENGELS" | translate }}
            </option>
            <option value="SPAANS">
              {{"LIBRARY.CLASS.CREATE.LANGUAGE.SPAANS" | translate }}
            </option>
          </select>
         

               
          </div>
  
          <div class="col-12 col-md-6">
            <label class="col-12">
              <span class="material-icons">
              attach_file
              </span>
              {{"LIBRARY.CLASS.CREATE.UP.NAAM" | translate }}
              <br>
                {{"LIBRARY.CLASS.CREATE.UP.BES" | translate }} 
          
            </label>
            <div
            name="translatedPdf"
            class="custom-dropzone form-control form-control-solid border"
            ngx-dropzone
            [accept]="'.pdf , .docx, .doc, .xls,.xlsx,.csv,.tsv,.ppt,.pptx,.pages,.odt,.rtf,.zip, image/*'"
            (change)="onSelectClassImages($event)"
            
          >
            <ngx-dropzone-label>
              <ng-container *ngIf="!class.translatedPdf">
                <p class="form-text text-muted">
                  {{"LIBRARY.CLASS.CREATE.UP.HIER" | translate }}
                </p>
                </ng-container>
                <ng-container *ngIf="class.translatedPdf">
                  
                  <p>
                   <br> {{  "LIBRARY.CLASS.CREATE.WAAR" | translate }}<a href='{{class.translatedPdf}}' target="_blank"  class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                    '{{class.translatedPdf}}'
                </a>
                  </p>
                      </ng-container> 
            </ngx-dropzone-label>
           
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of classImage"
              [file]="f"
              [removable]="true"
              (removed)="onRemoveClassImages(f)"
              id='zone'
            >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
            
          </div>
          <div *ngIf="isDone()" class="klaar">
            <span class="material-icons">
              file_download_done
              </span>
              {{"LIBRARY.DON" | translate }}   
           </div>
           <div *ngIf="isStill()" class="waar">
            <span class="material-icons">
              downloading
              </span>
              {{"LIBRARY.DOWN" | translate }}  
           </div>
          <div class="feedback" *ngIf="!isControlTouched('translatedPdf')">
            {{"LIBRARY.CLASS.CREATE.UP.BEST" | translate }}    
          </div>
         
          </div>
        </div>
        </div>
        </div>

      <div class="float-right">
        <a
          class="btn btn-default font-weight-bold mr-2"
          routerLink="/class/overview"
        >
        {{"LIBRARY.CLASS.CREATE.CANCEL" | translate }}
        </a>
        <button
          type="submit"
          class="btn btn-primary font-weight-bold mr-2"
          [disabled]="formGroup.invalid"
        >
          <ng-container *ngIf="class; else elseTemplate">
            <span class="material-icons">
              edit
              </span>
            {{"LIBRARY.CLASS.CREATE.BEWERK" | translate }}
          </ng-container>
          <ng-template #elseTemplate>
            <span class="material-icons">
              add
              </span>
            {{"LIBRARY.CLASS.CREATE.MAAK" | translate }}
          </ng-template>
        </button>
      </div>
      <div *ngIf="class">
        <button
            (click)="onDelete()"
            class="btn btn-primary font-weight-bold mr-2"
           
          >
          <span class="material-icons">
            delete
            </span>
            {{ "LIBRARY.CREATE.ITEM.DELETE" | translate }}
          </button>
      </div>
      
      

      </form>
    </div>
  </div>
  
 