<!-- share-modal.component.html -->
<div class="modal-header">
  <h5 class="modal-title">{{"TEST.SHARE.TITLE" | translate}}</h5>
  <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="shareForm">
    <div class="form-group row align-items-center">
      <label class="col-12 col-md-3 font-weight-bold mb-2 mb-md-0"
        >{{"TEST.SHARE.SHARE_LINK" | translate}}</label
      >
      <div class="col-12 col-md-9">
        <div class="input-group">
          <input
            type="text"
            class="form-control form-control-solid"
            placeholder="0"
            formControlName="shareUrl"
            readonly
          />
          <div class="input-group-append">
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="copyUrl()"
              [ngbTooltip]="'TEST.SHARE.COPIED' | translate"
              triggers="click:blur"
            >
            {{"TEST.SHARE.COPY" | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer d-flex">
  <button type="button" class="btn btn-secondary ml-auto" (click)="activeModal.dismiss()">
    {{ "BUTTONS.CANCEL" | translate }}
  </button>
</div>