<h1>IN PROGRESS</h1>

<p>IK ben reeds begonnen aan deze opdracht maar had steeds problemen bij het toevoegen van de angular module.</p>
<br>
<p>Hier een lijst van wat er gevraagd is:</p>
<ul>
    <li>Dit is een visuele voorstelling van wanneer stagairs vrijwilligers werken bij de NGO</li>
    <li>Deze voorstelling mag ook bevatten voor welke periode er gebruik wordt gemaakt van de accomodatie (soms iets langere periode)</li>
    <li>Als er op persoon wordt geklikt moeten we een beperkte infomatie te zien krijgen</li>
    <li>Met de knop meer info moeten we de mogelijkheid hebben om alle info te zien van deze persoon (deze pagina is al volledig gemaakt)</li>
    <li>Heel deze pagina moet meertalig zijn, liefst doe kalender ook</li>
</ul>

<img src= "../../../../assets/images/app-images/calendar.png"  
class="center-image w-115 d-block" id='mock'alt="">
