<div class="container">
  <h2>Scans & passport photo</h2>
  <div class="container">
    <form [formGroup]="scansForm">
      <label for="scansInternationalPassport" class="form-label"
        >Scan international passport</label
      >
      <input
        class="form-control"
        id="scansInternationalPassport"
        type="file"
        formControlName="internationalPassport"
        required
      />
      <div
        *ngIf="
          scansForm.get('internationalPassport')['errors'] &&
          scansForm.get('internationalPassport').touched
        "
        class="text-danger"
      >
        {{ getErrorMessage(scansForm.get("internationalPassport")["errors"]) }}
      </div>
      <label for="scansGoodConductCertificate" class="form-label">
        Scan certificate of good conduct type II
        <p>
          <small>
            You can request this from your city or municipal service.
          </small>
        </p>
      </label>
      <input
        class="form-control"
        id="scansGoodConductCertificate"
        type="file"
        formControlName="goodConductCertificate"
        required
      />
      <div
        *ngIf="
          scansForm.get('goodConductCertificate')['errors'] &&
          scansForm.get('goodConductCertificate').touched
        "
        class="text-danger"
      >
        {{ getErrorMessage(scansForm.get("goodConductCertificate")["errors"]) }}
      </div>
      <label for="scansDiploma" class="form-label"
        >Scan diploma or certificate education</label
      >
      <input
        class="form-control"
        id="scansDiploma"
        type="file"
        formControlName="diploma"
        required
      />
      <div
        *ngIf="
          scansForm.get('diploma')['errors'] && scansForm.get('diploma').touched
        "
        class="text-danger"
      >
        {{ getErrorMessage(scansForm.get("diploma")["errors"]) }}
      </div>
      <label for="scansPassportPhoto" class="form-label">Passport photo</label>
      <input
        class="form-control"
        id="scansPassportPhoto"
        type="file"
        formControlName="passportPhoto"
        required
      />
      <div
        *ngIf="
          scansForm.get('passportPhoto')['errors'] &&
          scansForm.get('passportPhoto').touched
        "
        class="text-danger"
      >
        {{ getErrorMessage(scansForm.get("passportPhoto")["errors"]) }}
      </div>
    </form>
  </div>
</div>
