<div class="my-2">
  <h3 class="text-dark font-weight-bold mb-10">
    {{ "REGISTRATION.SCANS.TITLE" | translate }}
  </h3>
  <!-- scans & passport photo -->
  <div class="my-2">
    <!-- international passport -->
    <div class="form-group row">
      <label class="col-3">{{
        "REGISTRATION.SCANS.PASSPORT" | translate
      }}</label>
      <div class="col-9">
        <div
          class="custom-dropzone form-control form-control-solid border"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onSelectInternationalPassportFile($event)"
          required
        >
          <ngx-dropzone-label>
            <p class="form-text text-muted">
              {{ "REGISTRATION.SCANS.DROP_SELECT" | translate }}
            </p>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of internationalPassportFiles"
            [file]="f"
            [removable]="true"
            (removed)="onRemoveInternationalPassportFile(f)"
          >
          </ngx-dropzone-image-preview>
        </div>
        <div
          *ngIf="
            scansForm.get('internationalPassport')['errors'] &&
            scansForm.get('internationalPassport').touched
          "
          class="text-danger form-text"
        >
          {{
            getErrorMessage(scansForm.get("internationalPassport")["errors"])
          }}
        </div>
      </div>
    </div>
    <!-- certificate of good conduct -->
    <div class="form-group row">
      <label class="col-3">{{
        "REGISTRATION.SCANS.GOOD_CONDUCT" | translate
      }}</label>
      <div class="col-9">
        <div
          class="custom-dropzone form-control form-control-solid border"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onSelectGoodConductCertificateFile($event)"
          required
        >
          <ngx-dropzone-label>
            <p class="form-text text-muted">
              {{ "REGISTRATION.SCANS.DROP_SELECT" | translate }}
            </p>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of goodConductCertificateFiles"
            [file]="f"
            [removable]="true"
            (removed)="onRemoveGoodConductCertificateFile(f)"
          >
          </ngx-dropzone-image-preview>
        </div>
        <div
          *ngIf="
            scansForm.get('goodConductCertificate')['errors'] &&
            scansForm.get('goodConductCertificate').touched
          "
          class="text-danger form-text"
        >
          {{
            getErrorMessage(scansForm.get("goodConductCertificate")["errors"])
          }}
        </div>
        <span class="form-text text-muted">{{
          "REGISTRATION.SCANS.GOOD_CONDUCT_INFO" | translate
        }}</span>
      </div>
    </div>
    <!-- diploma -->
    <div class="form-group row">
      <label class="col-3">{{
        "REGISTRATION.SCANS.DIPLOMA" | translate
      }}</label>
      <div class="col-9">
        <div
          class="custom-dropzone form-control form-control-solid border"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onSelectDiplomaFile($event)"
          required
        >
          <ngx-dropzone-label>
            <p class="form-text text-muted">
              {{ "REGISTRATION.SCANS.DROP_SELECT" | translate }}
            </p>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of diplomaFiles"
            [file]="f"
            [removable]="true"
            (removed)="onRemoveDiplomaFile(f)"
          >
          </ngx-dropzone-image-preview>
        </div>
        <div
          *ngIf="
            scansForm.get('diploma')['errors'] &&
            scansForm.get('diploma').touched
          "
          class="text-danger form-text"
        >
          {{ getErrorMessage(scansForm.get("diploma")["errors"]) }}
        </div>
      </div>
    </div>
    <!-- passport photo -->
    <div class="form-group row">
      <label class="col-3">{{ "REGISTRATION.SCANS.PHOTO" | translate }}</label>
      <div class="col-9">
        <div
          class="custom-dropzone form-control form-control-solid border"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onSelectPassportPhotoFile($event)"
          required
        >
          <ngx-dropzone-label>
            <p class="form-text text-muted">
              {{ "REGISTRATION.SCANS.DROP_SELECT" | translate }}
            </p>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of passportPhotoFiles"
            [file]="f"
            [removable]="true"
            (removed)="onRemovePassportPhotoFile(f)"
          >
          </ngx-dropzone-image-preview>
        </div>
        <div
          *ngIf="
            scansForm.get('passportPhoto')['errors'] &&
            scansForm.get('passportPhoto').touched
          "
          class="text-danger form-text"
        >
          {{ getErrorMessage(scansForm.get("passportPhoto")["errors"]) }}
        </div>
      </div>
    </div>
  </div>
</div>
