:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
#modal-header{
background-color:#0B5F3E ;

}
#modal-basic-title{
  color: white;
}

#sub{
  font-size: larger;
  font-weight:bold;
  text-decoration: underline;
}
#sub:hover{
  font-size: large;
  font-weight:bolder;
}
#pop{
    background: transparent;
    border: none !important;
    font-size:0;
}
