<div class="container">
  <ng-container *ngIf="test$ | async as test; else loading">
    <div class="row">
      <div class="col-12">
        <h2>{{ test.title }}</h2>
        <p>{{ test.description }}</p>
        <p>Time Limit: {{ test.timeLimitMinutes }} minutes</p>
        <button class="btn btn-primary" (click)="startTest(test)" *ngIf="!timerInterval && !isTestSubmitted">
          Start Test
        </button>
      </div>
    </div>

    <div class="row" *ngIf="timerInterval && !isTestSubmitted">
      <div class="col-12">
        <div class="progress">
          <div class="progress-bar" [style.width]="((currentSectionIndex + 1) / test.sections.length) * 100 + '%'"></div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="timerInterval && !isTestSubmitted">
      <div class="col-12">
        <h3>
          Section {{ currentSectionIndex + 1 }}: {{ test.sections[currentSectionIndex]?.title }}
        </h3>
        <p>{{ test.sections[currentSectionIndex]?.description }}</p>
      </div>
    </div>

    <form [formGroup]="testForm" *ngIf="timerInterval && !isTestSubmitted">
      <div class="row">
        <div class="col-12">
          <div formGroupName="{{ test.sections[currentSectionIndex].id }}">
            <div class="form-group" *ngFor="let question of test.sections[currentSectionIndex].questions; let i = index">
              <label>{{ question.questionText }}</label>

              <!-- Multiple Choice Question -->
              <div *ngIf="question.type.name === 'Multiple Choice'">
                <div class="form-check" *ngFor="let answer of question.answers; let j = index">
                  <input class="form-check-input" type="radio" [formControlName]="question.id" [value]="answer.id"
                    [id]="'question-' + question.id + '-answer-' + j" [ngClass]="{ 'is-invalid':
                        testForm.get(test.sections[currentSectionIndex].id.toString()).get(question.id.toString()).invalid &&
                        testForm.get(test.sections[currentSectionIndex].id.toString()).get(question.id.toString()).dirty
                    }" />
                  <label class="form-check-label" [for]="'question-' + question.id + '-answer-' + j">{{ answer.answerText }}</label>
                </div>
              </div>

              <!-- Fill in the Blank Question -->
              <div *ngIf="question.type.name === 'Fill in the Blank'">
                <input type="text" class="form-control" [formControlName]="question.id" [ngClass]="{ 'is-invalid':
                      testForm.get(test.sections[currentSectionIndex].id.toString()).get(question.id.toString()).invalid &&
                      testForm.get(test.sections[currentSectionIndex].id.toString()).get(question.id.toString()).dirty
                  }" />
              </div>

              <div class="invalid-feedback">This field is required.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button class="btn btn-secondary mr-2" (click)="previousSection()" *ngIf="currentSectionIndex > 0">
            Previous
          </button>
          <button class="btn btn-primary" (click)="nextSection(test)" *ngIf="currentSectionIndex < test.sections.length - 1">
            Next
          </button>
          <button class="btn btn-success" (click)="submitTest(test)" *ngIf="currentSectionIndex === test.sections.length - 1">
            Submit
          </button>
        </div>
      </div>
    </form>

    <div class="row" *ngIf="timerInterval && !isTestSubmitted">
      <div class="col-12">
        <p>Time Left: {{ timeLeft }} seconds</p>
      </div>
    </div>

    <div class="container" *ngIf="!timerInterval && isTestSubmitted">
      <div class="row">
        <div class="col-12">
          <h2>Test Results</h2>
          <p>Score: {{ score }} / {{ totalQuestions }}</p>
        </div>
      </div>

      <div class="row" *ngFor="let section of test.sections; let sectionIndex = index">
        <div class="col-12">
          <h3>Section {{ sectionIndex + 1 }}: {{ section.title }}</h3>
          <div *ngFor="let question of section.questions; let questionIndex = index">
            <p>{{ question.questionText }}</p>
            <ul>
              <li *ngFor="let answer of question.answers">
                <span [ngClass]="{
                    'text-success': answer.isCorrect,
                    'text-danger': !answer.isCorrect && isAnswerSelected(test, sectionIndex, question.id, answer.id)
                  }">
                  {{ answer.answerText }}
                  <span *ngIf="answer.isCorrect"> (Correct)</span>
                  <span *ngIf="!answer.isCorrect && isAnswerSelected(test, sectionIndex, question.id, answer.id)">
                    (Your Answer)</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary" (click)="retryTest(test)">
            Retry Test
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="text-center">
      <i class="fas fa-spinner fa-spin fa-3x"></i>
      <p>Loading...</p>
    </div>
  </ng-template>
</div>

<ng-template #confirmSubmitModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirm Submission</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Not all fields are filled in. Are you sure you want to submit?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Review
    </button>
    <button type="button" class="btn btn-primary" (click)="endTest()">
      Submit
    </button>
  </div>
</ng-template>