<div
  class="card card-custom card-stretch"
  *ngIf="isLoading == false; else loadingSpinner"
>
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Check In Details</h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">
        <!-- access data of registration -->
        {{ registration.firstName }} {{ registration.lastName }}
      </span>
    </div>
    <div class="card-toolbar">
      <button
        type="button"
        class="btn btn-secondary font-weight-bolder"
        routerLink="/organization/check-in/list"
      >
        <i class="fas fa-chevron-left"></i> {{ "BUTTONS.BACK" | translate }}
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="row my-4">
      <div class="col-12">
        <h4 class="text-dark font-weight-bold mb-4">
          {{ "CHECK_IN.DETAILS.PAGE_TITLE" | translate }}
        </h4>
      </div>
      <div class="col-12">
        <div class="d-flex align-items-center">
          <div class="font-weight-bolder font-size-lg">
            <span
              *ngIf="isCheckedIn$(id) | async; else notCheckedIn"
              class="label label-lg label-light-primary label-inline font-weight-bold"
              >{{ "CHECK_IN.CHECKED_IN" | translate }}</span
            >
            <ng-template #notCheckedIn>
              <span
                class="label label-lg label-light-danger label-inline font-weight-bold"
                >{{ "CHECK_IN.CHECKED_OUT" | translate }}</span
              >
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <!-- Seperator -->
    <div class="separator separator-dashed my-10"></div>
    <!-- Seperator -->

    <div class="row my-2">
      <div class="col-12">
        <h4 class="text-dark font-weight-bold mb-4">
          {{ "CHECK_IN.DETAILS.OVERVIEW" | translate }}
        </h4>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        {{ "CHECK_IN.DETAILS.TIME_TODAY" | translate }}
      </div>
      <div class="col-12 col-sm-6 col-md-9">
        <div class="d-flex align-items-center">
          <div class="font-weight-bolder font-size-lg">
            {{
              formatDuration(
                calculateTotalCheckedInTimeToday(checkInHistory$ | async),
                "CHECK_IN.DETAILS.HOURS" | translate,
                "CHECK_IN.DETAILS.MINUTES" | translate,
                "CHECK_IN.DETAILS.SECONDS" | translate
              )
            }}
          </div>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-12 col-md-3 col-sm-6">
        {{ "CHECK_IN.DETAILS.TIME_WEEK" | translate }}
      </div>
      <div class="col-12 col-md-9 col-sm-6">
        <div class="d-flex align-items-center">
          <div class="font-weight-bolder font-size-lg">
            <ng-container *ngIf="checkInHistory$ | async as checkInHistory">
              {{
                formatDuration(
                  calculateTotalCheckedInTime(
                    checkInHistory,
                    getFirstDayOfWeek(),
                    getLastDayOfWeek()
                  ),
                  "CHECK_IN.DETAILS.HOURS" | translate,
                  "CHECK_IN.DETAILS.MINUTES" | translate,
                  "CHECK_IN.DETAILS.SECONDS" | translate
                )
              }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-12 col-md-3 col-sm-6">
        {{ "CHECK_IN.DETAILS.TIME_MONTH" | translate }}
      </div>
      <div class="col-12 col-md-9 col-sm-6">
        <div class="d-flex align-items-center">
          <div class="font-weight-bolder font-size-lg">
            <ng-container *ngIf="checkInHistory$ | async as checkInHistory">
              {{
                formatDuration(
                  calculateTotalCheckedInTime(
                    checkInHistory,
                    getFirstDayOfMonth(),
                    getLastDayOfMonth()
                  ),
                  "CHECK_IN.DETAILS.HOURS" | translate,
                  "CHECK_IN.DETAILS.MINUTES" | translate,
                  "CHECK_IN.DETAILS.SECONDS" | translate
                )
              }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-2 mb-4">
      <div class="col-12 col-md-3 col-sm-6">
        {{ "CHECK_IN.DETAILS.TIME_TOTAL" | translate }}
      </div>
      <div class="col-12 col-md-9 col-sm-6">
        <div class="d-flex align-items-center">
          <div class="font-weight-bolder font-size-lg">
            <ng-container *ngIf="checkInHistory$ | async as checkInHistory">
              {{
                formatDuration(
                  calculateTotalCheckedInTime(
                    checkInHistory,
                    undefined,
                    undefined
                  ),
                  "CHECK_IN.DETAILS.HOURS" | translate,
                  "CHECK_IN.DETAILS.MINUTES" | translate,
                  "CHECK_IN.DETAILS.SECONDS" | translate
                )
              }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- Separator -->
    <div class="separator separator-dashed my-10"></div>
    <!-- Separator -->

    <div class="row my-2">
      <div class="col-12">
        <h4 class="text-dark font-weight-bold mb-4">
          {{ "CHECK_IN.DETAILS.TIME_BY_WEEK" | translate }}
        </h4>
      </div>
      <div class="col-12">
        <div class="d-flex align-items-center mb-4">
          <div class="col-3 col-sm-1 text-left pl-0">
            <button
              class="btn btn-icon btn-secondary mr-2"
              (click)="goToPreviousWeek()"
            >
              <i class="fas fa-chevron-left"></i>
            </button>
          </div>
          <div class="font-weight-bold col-6 col-sm-2 text-center">
            {{ getWeekRange(selectedWeek) }}
          </div>
          <div class="col-3 col-sm-1 text-right pr-0">
            <button
              class="btn btn-icon btn-secondary ml-2"
              (click)="goToNextWeek()"
            >
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="font-weight-bolder font-size-lg">
            <ng-container *ngIf="checkInHistory$ | async as checkInHistory">
              {{
                formatDuration(
                  calculateTotalCheckedInTime(
                    checkInHistory,
                    getFirstDayOfSelectedWeek(),
                    getLastDayOfSelectedWeek()
                  ),
                  "CHECK_IN.DETAILS.HOURS" | translate,
                  "CHECK_IN.DETAILS.MINUTES" | translate,
                  "CHECK_IN.DETAILS.SECONDS" | translate
                )
              }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- Seperator -->
    <div class="separator separator-dashed my-10"></div>
    <!-- Seperator -->

    <div class="row my-2">
      <div class="col-12">
        <h4 class="text-dark font-weight-bold mb-4">
          {{ "CHECK_IN.DETAILS.TIME_BY_MONTH" | translate }}
        </h4>
      </div>
      <div class="col-12">
        <div class="d-flex align-items-center mb-4">
          <div class="col-3 col-sm-1 text-left pl-0">
            <button
              class="btn btn-icon btn-secondary mr-2"
              (click)="goToPreviousMonth()"
            >
              <i class="fas fa-chevron-left"></i>
            </button>
          </div>
          <div class="font-weight-bold col-6 col-sm-2 text-center">
            {{ selectedMonth | date : "MMMM yyyy" }}
          </div>
          <div class="col-3 col-sm-1 text-right pr-0">
            <button
              class="btn btn-icon btn-secondary ml-2"
              (click)="goToNextMonth()"
            >
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="font-weight-bolder font-size-lg">
            <ng-container *ngIf="checkInHistory$ | async as checkInHistory">
              {{
                formatDuration(
                  calculateTotalCheckedInTime(
                    checkInHistory,
                    getFirstDayOfSelectedMonth(),
                    getLastDayOfSelectedMonth()
                  ),
                  "CHECK_IN.DETAILS.HOURS" | translate,
                  "CHECK_IN.DETAILS.MINUTES" | translate,
                  "CHECK_IN.DETAILS.SECONDS" | translate
                )
              }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- Seperator -->
    <div class="separator separator-dashed my-10"></div>
    <!-- Seperator -->

    <div class="row my-2">
      <div class="col-12">
        <h4 class="text-dark font-weight-bold mb-4">
          {{ "CHECK_IN.DETAILS.TIME_BETWEEN_DATES.TITLE" | translate }}
        </h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="startDate">{{
                "CHECK_IN.DETAILS.TIME_BETWEEN_DATES.START_DATE" | translate
              }}</label>
              <input
                class="form-control form-control-solid"
                id="startDate"
                type="date"
                [(ngModel)]="startDate"
                placeholder="yyyy-mm-dd"
              />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="endDate">{{
                "CHECK_IN.DETAILS.TIME_BETWEEN_DATES.END_DATE" | translate
              }}</label>
              <input
                class="form-control form-control-solid"
                id="endDate"
                type="date"
                [(ngModel)]="endDate"
                placeholder="yyyy-mm-dd"
              />
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="font-weight-bolder font-size-lg">
            <ng-container *ngIf="checkInHistory$ | async as checkInHistory">
              {{
                formatDuration(
                  calculateTotalCheckedInTime(
                    checkInHistory,
                    startDate,
                    endDate
                  ),
                  "CHECK_IN.DETAILS.HOURS" | translate,
                  "CHECK_IN.DETAILS.MINUTES" | translate,
                  "CHECK_IN.DETAILS.SECONDS" | translate
                )
              }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingSpinner>
  <div class="d-flex justify-content-center align-items-center">
    <div class="spinner spinner-primary spinner-lg"></div>
  </div>
</ng-template>
