<div class="card card-custom">

    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <div class="card-header border-0 text-white" style="background-color: white; padding: 2rem 2.25rem;">
                <div class="row">
                    <div class="col-12 col-md-8 w-100">
                        <h3 class="card-title font-weight-bolder text-dark">
                            {{"ORGANIZATION.ROLES.OVERVIEW.TITLE" | translate }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="card-body pt-2">
        <div [ngClass]=" working ? 'd-flex' : ''" id="overlay" onclick="off()">
            <div class="w-100 d-flex justify-content-center align-items-center">
                <h1 class="text-center text-white">{{"ORGANIZATION.ROLES.OVERVIEW.PLEASE_WAIT" | translate }}</h1>
            </div>
        </div>

        <!--begin::Form Group-->
        <div class="form-group row mb-10">
            <div class="col-12 col-md-12">
                <div class="input-group input-group-lg input-group-solid">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>

                    <input (keyup)="applyFilter($event.target.value)" type="email"
                        class="form-control form-control-lg form-control-solid force-pl-5"
                        placeholder='{{"ORGANIZATION.ROLES.OVERVIEW.FILTER" | translate }}'
                        style="padding-left: 10px;" />
                </div>
                <div class="feedback">
                    {{"ORGANIZATION.ROLES.OVERVIEW.FILTER_SUB" | translate }}
                </div>
            </div>
        </div>
        <!--begin::Form Group-->

        <!--begin: Item-->
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-wrap align-items-center mb-10 table-responsive">
                    <table class="table table-fit">
                        <thead>
                            <tr>
                                <th>{{"ORGANIZATION.ROLES.OVERVIEW.FIRST_NAME" | translate }}</th>
                                <th>{{"ORGANIZATION.ROLES.OVERVIEW.LAST_NAME" | translate }}</th>
                                <th>Email</th>
                                <th *ngFor="let role of roleService.roles | async">
                                    {{role.name}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userService.users | async">
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.email}}</td>
                                <td class="text-center" *ngFor="let role of roleService.roles | async">
                                    <input
                                        type="checkbox"
                                        class="custom-checkbox mr-3"
                                        id="flexCheckChecked"
                                        [checked]="hasRole(user, role)"
                                        (change)="changeRoles($event, user, role)"
                                        [disabled]="shouldDisable(user, role)"
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end: Item-->

        <!-- <div class="d-flex flex-wrap align-items-center mb-10">
            <div class="example-preview flex-grow-1  ">
                <div class="example-container ">
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvents($event)" [pageIndex]="page"
                        [showFirstLastButtons]="true" [length]="(bookService.books | async)?.length">
                    </mat-paginator>
                </div>
            </div>
        </div> -->
    </div>
</div>