<form
  [formGroup]="exerciseForm"
  *ngIf="
    AuthUtil.permitted([
      AuthUtil.roles.SpanishTeacher,
      AuthUtil.roles.SuperAdmin
    ]);
    else noAccess
  "
>
  <div class="card card-custom mb-4">
    <!-- Header -->
    <div class="row pb-0 pb-md-2">
      <div class="col-12">
        <div
          class="card-header border-0 text-white"
          style="background-color: white; padding: 2rem 2.25rem"
        >
          <div class="row">
            <div
              class="col-12 w-100 d-flex justify-content-between align-items-center"
            >
              <h3 class="card-title font-weight-bolder text-dark mb-0">
                {{ "MENU.LEARNING_PLATFORM.CREATE_EXERCISE" | translate }}
              </h3>
              <div>
                <button
                  class="btn btn-primary pr-1 pr-md-3"
                  (click)="onSubmit()"
                  [disabled]="exerciseForm.invalid || isLoading"
                >
                  <i class="fas fa-save"></i>
                  <span
                    *ngIf="!isLoading; else loadingSpan"
                    class="d-none d-md-inline ml-1"
                    >{{ "BUTTONS.CREATE" | translate }}</span
                  >
                  <ng-template #loadingSpan>
                    <span class="d-none d-md-inline ml-1"> {{ "MENU.LOADING_DOTS" | translate }} </span>
                  </ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="card-body">
      <!--begin: Item-->
      <div class="form-group row align-items-start">
        <label class="col-12 col-md-2 font-weight-bold mb-2 h3 mb-md-0"
          >{{ "EXERCISE.CREATE.TITLE" | translate }}</label
        >
        <div class="col-12 col-md-10">
          <div class="row">
            <div class="col-12">
              <input
                type="text"
                class="form-control form-control-solid"
                [class.is-invalid]="
                  exerciseForm.get('title').invalid &&
                  (exerciseForm.get('title').dirty ||
                    exerciseForm.get('title').touched)
                "
                placeholder="Enter title"
                formControlName="title"
                required
                [disabled]="isLoading"
              />
            </div>
            <div class="col-12">
              <small
                class="text-danger"
                *ngIf="
                  exerciseForm.get('title').invalid &&
                  (exerciseForm.get('title').dirty ||
                    exerciseForm.get('title').touched)
                "
              >
                {{ "EXERCISE.CREATE.TITLE_REQUIRED" | translate }}
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-md-2 font-weight-bold mb-2 h3 mb-md-0"
          >{{ "EXERCISE.CREATE.DESCRIPTION" | translate }}</label
        >
        <div class="col-12 col-md-10">
          <textarea
            class="form-control form-control-solid"
            placeholder="Enter description (optional)"
            formControlName="description"
            rows="3"
            [disabled]="isLoading"
          ></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-md-2 font-weight-bold mb-2 h3 mb-md-0"
          >{{ "EXERCISE.CREATE.TYPE" | translate }}</label
        >
        <div class="col-12 col-md-10">
          <select
            class="form-control form-control-solid"
            formControlName="exerciseType"
            [disabled]="isLoading"
            (change)="onExerciseTypeChange()"
          >
            <option value="">{{ "EXERCISE.CREATE.TYPE_SELECT" | translate }}</option>
            <option
              *ngFor="let type of exerciseTypes$ | async"
              [value]="type.id"
            >
              {{ type.name | translate }}
            </option>
          </select>
          <small
            class="text-danger"
            *ngIf="
              exerciseForm.get('exerciseType').invalid &&
              (exerciseForm.get('exerciseType').dirty ||
                exerciseForm.get('exerciseType').touched)
            "
          >
            {{ "EXERCISE.CREATE.TYPE_REQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="form-group row" *ngIf="!shouldHideMaxGrade()">
        <label class="col-12 col-md-2 font-weight-bold mb-2 h3 mb-md-0">
          {{ "EXERCISE.CREATE.MAX_GRAGE" | translate }}
        </label>
        <div class="col-12 col-md-10">
          <input
            type="number"
            class="form-control form-control-solid"
            placeholder="Enter maximum grade"
            formControlName="maxGrade"
            [disabled]="isLoading"
            min="1"
          />
          <small
            class="text-danger"
            *ngIf="
              exerciseForm.get('maxGrade').invalid &&
              (exerciseForm.get('maxGrade').dirty || exerciseForm.get('maxGrade').touched)
            "
          >
            {{ "EXERCISE.CREATE.MAX_GRAGE_REQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-md-2 font-weight-bold mb-2 h3 mb-md-0"
          >{{ "EXERCISE.CREATE.FILES" | translate }}</label
        >
        <div class="col-12 col-md-10">
          <div
            class="custom-dropzone form-control form-control-solid border"
            ngx-dropzone
            (change)="onSelectFiles($event)"
            [class.is-invalid]="
              exerciseForm.get('files').invalid &&
              (exerciseForm.get('files').dirty ||
                exerciseForm.get('files').touched)
            "
          >
            <ngx-dropzone-label>
              <p class="form-text text-muted">
                {{ "REGISTRATION.SCANS.DROP_SELECT" | translate }}
              </p>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
              [removable]="true"
              (removed)="onRemoveFile(f)"
            >
            </ngx-dropzone-image-preview>
          </div>
          <small
            class="text-danger"
            *ngIf="
              exerciseForm.get('files').invalid &&
              (exerciseForm.get('files').dirty ||
                exerciseForm.get('files').touched)
            "
          >
            {{ "EXERCISE.CREATE.FILES_REQUIRED" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>
</form>
<ng-template #noAccess> {{ "MENU.NO_ACCESS" | translate }} </ng-template>
