<div class="card card-custom">
  <!-- Header -->
  <div class="row">
    <div class="col-12">
      <div
        class="card-header border-0 text-white"
        style="background-color: white; padding: 2rem 2.25rem"
      >
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h3 class="card-title font-weight-bolder text-dark">
              {{ "EXERCISE.SUBMISSION.LIST" | translate }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="card-body pt-2">
    <!--begin::Form Group-->
    <div class="form-group row mb-10">
      <div class="col-12 col-md-12">
        <div class="input-group input-group-lg input-group-solid mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg form-control-solid force-pl-5"
            placeholder="{{ 'ORGANIZATION.ROLES.OVERVIEW.FILTER' | translate }}"
            style="padding-left: 10px"
            (input)="onSearchTermChange($event.target.value)"
          />
        </div>
        <div class="feedback ml-2">
          {{ "EXERCISE.SUBMISSION.SEARCH_USER_EXERCISE" | translate }}
        </div>
      </div>
    </div>
    <!--end::Form Group-->

    <!--begin: Item-->
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-wrap align-items-center mb-10 table-responsive">
          <table class="table table-fit">
            <thead>
              <tr>
                <th>
                  {{ "EXERCISE.SUBMISSION.EXERCISE_TABLE" | translate }}
                </th>
                <th
                  *ngIf="
                    AuthUtil.permitted([
                      AuthUtil.roles.SuperAdmin,
                      AuthUtil.roles.SpanishTeacher
                    ])
                  "
                >
                  {{ "EXERCISE.SUBMISSION.SUBMITTED_BY" | translate }}
                </th>
                <th>{{ "EXERCISE.SUBMISSION.SUBMISSION_DATE_TABLE" | translate }}</th>
                <th>{{ "EXERCISE.SUBMISSION.GRADE_TABLE" | translate }}</th>
                <th>{{ "EXERCISE.SUBMISSION.GRADE_DATE_TABLE" | translate }}</th>
                <th class="text-right">{{ "EXERCISE.SUBMISSION.ACTIONS" | translate }}</th>
              </tr>
            </thead>
            <ng-container
              *ngIf="
                AuthUtil.permitted([
                  AuthUtil.roles.SuperAdmin,
                  AuthUtil.roles.SpanishTeacher
                ]);
                else student_t_body
              "
            >
              <tbody>
                <tr *ngFor="let submission of submissions$ | async">
                  <td>{{ submission.exercise.title }}</td>
                  <td>
                    {{ submission.submittedBy.firstName }}
                    {{ submission.submittedBy.lastName }}
                  </td>
                  <td>{{ submission.submittedAt | date }}</td>
                  <td>
                    {{ getGradeText(submission) }}
                  </td>
                  <td>
                    {{ submission.gradedAt ? (submission.gradedAt | date) : "-" }}
                  </td>
                  <td class="text-right">
                    <button
                      type="button"
                      class="btn btn-primary"
                      placement="top"
                      ngbTooltip="Overview"
                      routerLink="/exercise/submission/overview/{{
                        submission.id
                      }}"
                    >
                      <i class="fas fa-sign-in-alt pr-0"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </ng-container>
            <ng-template #student_t_body>
              <tbody>
                <tr *ngFor="let submission of submissions$ | async">
                  <td>{{ submission.exercise.title }}</td>
                  <td>{{ submission.submittedAt | date }}</td>
                  <td>
                    {{ getGradeText(submission) | translate }}
                  </td>
                  <td>
                    {{ submission.grade ? (submission.gradedAt | date) : "-" }}
                  </td>
                  <td class="text-right">
                    <button
                      type="button"
                      class="btn btn-primary"
                      placement="top"
                      ngbTooltip="Overview"
                      routerLink="/exercise/submission/overview/{{
                        submission.id
                      }}"
                    >
                      <i class="fas fa-sign-in-alt pr-0"></i>
                    </button>
                  </td>
                </tr></tbody
            ></ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
