<div class="container">
  <h2>Personal information</h2>
  <div class="container">
    <h3>General</h3>
    <form [formGroup]="personalForm.controls.general">
      <label for="generalFirstName" class="form-label">First name</label>
      <input
        class="form-control"
        id="generalFirstName"
        formControlName="firstName"
        required
      />
      <div
        *ngIf="
          personalForm.controls.general.get('firstName')['errors'] &&
          personalForm.controls.general.get('firstName').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.general.get("firstName")["errors"]
          )
        }}
      </div>
      <label for="generalLastName" class="form-label">Last name</label>
      <input
        class="form-control"
        id="generalLastName"
        formControlName="lastName"
        required
      />
      <div
        *ngIf="
          personalForm.controls.general.get('lastName')['errors'] &&
          personalForm.controls.general.get('lastName').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.general.get("lastName")["errors"]
          )
        }}
      </div>
      <label for="generalEmail" class="form-label">Email</label>
      <input
        class="form-control"
        id="generalEmail"
        type="email"
        formControlName="email"
        required
      />
      <div
        *ngIf="
          personalForm.controls.general.get('email')['errors'] &&
          personalForm.controls.general.get('email').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(personalForm.controls.general.get("email")["errors"])
        }}
      </div>
      <label
        *ngIf="role === 'Student'"
        for="generalSchoolEmail"
        class="form-label"
        >School email</label
      >
      <input
        *ngIf="role === 'Student'"
        class="form-control"
        id="generalSchoolEmail"
        type="email"
        formControlName="schoolEmail"
        required
      />
      <div
        *ngIf="
          role === 'Student' &&
          personalForm.controls.general.get('schoolEmail')['errors'] &&
          personalForm.controls.general.get('schoolEmail').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.general.get("schoolEmail")["errors"]
          )
        }}
      </div>
      <label for="generalPhone" class="form-label">Phone number</label>
      <input
        class="form-control"
        id="generalPhone"
        formControlName="phone"
        required
      />
      <div
        *ngIf="
          personalForm.controls.general.get('phone')['errors'] &&
          personalForm.controls.general.get('phone').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(personalForm.controls.general.get("phone")["errors"])
        }}
      </div>
      <label for="generalBirthdate" class="form-label">Date of birth</label>
      <input
        class="form-control"
        id="generalBirthdate"
        type="date"
        formControlName="dateOfBirth"
        required
      />
      <div
        *ngIf="
          personalForm.controls.general.get('dateOfBirth')['errors'] &&
          personalForm.controls.general.get('dateOfBirth').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.general.get("dateOfBirth")["errors"]
          )
        }}
      </div>
      <label for="generalBirthplace" class="form-label">Birthplace</label>
      <input
        class="form-control"
        id="generalBirthplace"
        formControlName="birthplace"
        required
      />
      <div
        *ngIf="
          personalForm.controls.general.get('birthplace')['errors'] &&
          personalForm.controls.general.get('birthplace').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.general.get("birthplace")["errors"]
          )
        }}
      </div>
      <label for="generalNationality" class="form-label">Nationality</label>
      <input
        class="form-control"
        id="generalNationality"
        formControlName="nationality"
        required
      />
      <div
        *ngIf="
          personalForm.controls.general.get('nationality')['errors'] &&
          personalForm.controls.general.get('nationality').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.general.get("nationality")["errors"]
          )
        }}
      </div>
      <label for="generalPassportNumber" class="form-label"
        >Passport number</label
      >
      <input
        class="form-control"
        id="generalPassportNumber"
        formControlName="passportNumber"
        required
      />
      <div
        *ngIf="
          personalForm.controls.general.get('passportNumber')['errors'] &&
          personalForm.controls.general.get('passportNumber').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.general.get("passportNumber")["errors"]
          )
        }}
      </div>
    </form>
  </div>
  <div class="container">
    <h3>Address</h3>
    <form [formGroup]="personalForm.controls.address">
      <label for="addressStreet" class="form-label">Street</label>
      <input
        class="form-control"
        id="addressStreet"
        formControlName="street"
        required
      />
      <div
        *ngIf="
          personalForm.controls.address.get('street')['errors'] &&
          personalForm.controls.address.get('street').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(personalForm.controls.address.get("street")["errors"])
        }}
      </div>
      <label for="addressHouseNumber" class="form-label">House number</label>
      <input
        class="form-control"
        id="addressHouseNumber"
        formControlName="houseNumber"
        required
      />
      <div
        *ngIf="
          personalForm.controls.address.get('houseNumber')['errors'] &&
          personalForm.controls.address.get('houseNumber').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.address.get("houseNumber")["errors"]
          )
        }}
      </div>
      <label for="addressMailbox" class="form-label">Mailbox</label>
      <input
        class="form-control"
        id="addressMailbox"
        formControlName="mailbox"
      />
      <div
        *ngIf="
          personalForm.controls.address.get('mailbox')['errors'] &&
          personalForm.controls.addres.get('mailbox').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.address.get("mailbox")["errors"]
          )
        }}
      </div>
      <label for="addressPostalCode" class="form-label">Postal code</label>
      <input
        class="form-control"
        id="addressPostalCode"
        formControlName="postalCode"
        required
      />
      <div
        *ngIf="
          personalForm.controls.address.get('postalCode')['errors'] &&
          personalForm.controls.address.get('postalCode').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.address.get("postalCode")["errors"]
          )
        }}
      </div>
      <label for="addressTownship" class="form-label">Township</label>
      <input
        class="form-control"
        id="addressTownship"
        formControlName="township"
        required
      />
      <div
        *ngIf="
          personalForm.controls.address.get('township')['errors'] &&
          personalForm.controls.address.get('township').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.address.get("township")["errors"]
          )
        }}
      </div>
    </form>
  </div>
  <div class="container">
    <h3>Contact person</h3>
    <p>
      Your contact person is the person we should be able to contact in case of
      an emergency.
    </p>
    <form [formGroup]="personalForm.controls.contactPerson">
      <label for="contactPersonFirstName" class="form-label">First name</label>
      <input
        class="form-control"
        id="contactPersonFirstName"
        formControlName="firstName"
        required
      />
      <div
        *ngIf="
          personalForm.controls.contactPerson.get('firstName')['errors'] &&
          personalForm.controls.contactPerson.get('firstName').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.contactPerson.get("firstName")["errors"]
          )
        }}
      </div>
      <label for="contactPersonLastName" class="form-label">Last name</label>
      <input
        class="form-control"
        id="contactPersonLastName"
        formControlName="lastName"
        required
      />
      <div
        *ngIf="
          personalForm.controls.contactPerson.get('lastName')['errors'] &&
          personalForm.controls.contactPerson.get('lastName').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.contactPerson.get("lastName")["errors"]
          )
        }}
      </div>
      <label for="contactPersonRelation" class="form-label">Relation</label>
      <input
        class="form-control"
        id="contactPersonRelation"
        formControlName="relation"
        required
      />
      <div
        *ngIf="
          personalForm.controls.contactPerson.get('relation')['errors'] &&
          personalForm.controls.contactPerson.get('relation').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.contactPerson.get("relation")["errors"]
          )
        }}
      </div>
      <label for="contactPersonEmail" class="form-label">Email</label>
      <input
        class="form-control"
        id="contactPersonEmail"
        type="email"
        formControlName="email"
        required
      />
      <div
        *ngIf="
          personalForm.controls.contactPerson.get('email')['errors'] &&
          personalForm.controls.contactPerson.get('email').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.contactPerson.get("email")["errors"]
          )
        }}
      </div>
      <label for="contactPersonPhone" class="form-label">Phone number</label>
      <input
        class="form-control"
        id="contactPersonPhone"
        formControlName="phone"
        required
      />
      <div
        *ngIf="
          personalForm.controls.contactPerson.get('phone')['errors'] &&
          personalForm.controls.contactPerson.get('phone').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.contactPerson.get("phone")["errors"]
          )
        }}
      </div>
    </form>
  </div>
  <div class="container">
    <h3>Medical details</h3>
    <form [formGroup]="personalForm.controls.medical">
      <label for="medicalAllergies" class="form-label">Allergies</label>
      <textarea
        class="form-control"
        id="medicalAllergies"
        formControlName="allergies"
        rows="3"
      ></textarea>
      <div
        *ngIf="
          personalForm.controls.medical.get('allergies')['errors'] &&
          personalForm.controls.medical.get('allergies').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.medical.get("allergies")["errors"]
          )
        }}
      </div>
      <label for="medicalConditions" class="form-label"
        >Medical conditions</label
      >
      <textarea
        class="form-control"
        id="medicalConditions"
        formControlName="medicalConditions"
        rows="3"
      ></textarea>
      <div
        *ngIf="
          personalForm.controls.medical.get('medicalConditions')['errors'] &&
          personalForm.controls.medical.get('medicalConditions').touched
        "
        class="text-danger"
      >
        {{
          getErrorMessage(
            personalForm.controls.medical.get("medicalConditions")["errors"]
          )
        }}
      </div>
    </form>
  </div>
</div>
