<div class="container">
  <h2>Some extra questions</h2>
  <div class="container">
    <form [formGroup]="questionsForm">
      <label for="questionsOther" class="form-label"
        >Do you have any further questions?</label
      >
      <textarea
        class="form-control"
        id="questionsOther"
        formControlName="otherQuestions"
      ></textarea>
      <label for="questionsExperience" class="form-label"
        >Do you have any experience with volunteering? If so, please
        describe.</label
      >
      <textarea
        class="form-control"
        id="questionsExperience"
        formControlName="experience"
      ></textarea>
      <label for="questionsFirstHeard" class="form-label"
        >Where did you first hear of Añañau?</label
      >
      <select
        class="form-select"
        id="questionsFirstHeard"
        formControlName="firstHeard"
      >
        <option value="0" selected>--</option>
        <option value="1">Website</option>
        <option value="2">Facebook</option>
        <option value="3">Instagram</option>
        <option value="4">Other person</option>
        <option value="5">Newsletter</option>
        <option value="6">Other</option>
      </select>
    </form>
  </div>
</div>
