<!--begin::Signup-->
<div class="login-form login-signup">
  <!--begin::Form-->
  <form
    class="form"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="submit()"
  >
    <!--begin::Title-->
    <div class="pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Reset password
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        Provide your email address and a new password.
      </p>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="hasError">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">
          {{ "AUTH.REGISTER.INCORRECT" | translate }}
        </div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">
        {{ "AUTH.INPUT.EMAIL" | translate }}
      </label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="email"
        placeholder="Email"
        name="email"
        formControlName="email"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            resetPasswordForm.controls['email'].invalid &&
            resetPasswordForm.controls['email'].dirty
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: ('AUTH.VALIDATION.EMAIL_REQUIRED' | translate),
          control: resetPasswordForm.controls['email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'email',
          message: ('AUTH.VALIDATION.EMAIL_INVALID' | translate),
          control: resetPasswordForm.controls['email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: ('AUTH.VALIDATION.EMAIL_MINLENGTH' | translate),
          control: resetPasswordForm.controls['email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: ('AUTH.VALIDATION.EMAIL_MAXLENGTH' | translate),
          control: resetPasswordForm.controls['email']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">
        {{ "AUTH.INPUT.PASSWORD" | translate }}
      </label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            resetPasswordForm.controls['password'].invalid &&
            resetPasswordForm.controls['password'].dirty
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: ('AUTH.VALIDATION.PASSWORD_REQUIRED' | translate),
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: ('AUTH.VALIDATION.PASSWORD_MINLENGTH' | translate),
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: ('AUTH.VALIDATION.PASSWORD_MAXLENGTH' | translate),
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">
        {{ "AUTH.INPUT.CONFIRM_PASSWORD" | translate }}
      </label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="password"
        placeholder="Confirm password"
        name="cPassword"
        autocomplete="off"
        formControlName="cPassword"
        [ngClass]="{
          'is-invalid':
            resetPasswordForm.controls['cPassword'].invalid &&
            resetPasswordForm.controls['cPassword'].dirty
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: ('AUTH.VALIDATION.CONFIRMPASSWORD_REQUIRED' | translate),
          control: resetPasswordForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: ('AUTH.VALIDATION.CONFIRMPASSWORD_MINLENGTH' | translate),
          control: resetPasswordForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: ('AUTH.VALIDATION.CONFIRMPASSWORD_MAXLENGTH' | translate),
          control: resetPasswordForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        *ngIf="
          resetPasswordForm.controls['cPassword'].errors &&
          resetPasswordForm.controls['cPassword'].errors.ConfirmPassword
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            {{ "AUTH.VALIDATION.PASSWORD_NO_MATCH" | translate }}
          </div>
        </div>
      </ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
      <button
        type="submit"
        id="kt_login_signup_submit"
        [disabled]="resetPasswordForm.invalid"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
      >
        {{ "AUTH.GENERAL.SUBMIT_BUTTON" | translate }}
      </button>
      <button
        routerLink="/auth/login"
        type="button"
        id="kt_login_signup_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
      >
        {{ "AUTH.GENERAL.CANCEL_BUTTON" | translate }}
      </button>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signup-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
