<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <!--begin::Nav-->
  <div class="nav nav-dark">
    <a href="https://ananau.org/" target="_blank" class="nav-link pl-0 pr-5">{{
      "AUTH.GENERAL.WEBSITE" | translate
    }}</a>
    <a href="mailto:info@ananau.org" class="nav-link pl-0">{{
      "AUTH.GENERAL.CONTACT" | translate
    }}</a>
  </div>
  <!--end::Nav-->

  <!--begin::Copyright-->
  <div class="text-dark">
    <span class="text-muted font-weight-bold mr-2"
      >{{ currentYear }} &copy;</span
    >
    <a
      href="https://ananau.org"
      target="_blank"
      class="text-dark-75 text-hover-primary"
      >Asociación ONG Añañau</a
    >
  </div>
  <!--end::Copyright-->
</div>
<!--end::Container-->
