<div class="my-2">

  <!-- title -->
  <h3 class="text-dark font-weight-bold mb-10">
    General Information
  </h3>


  <!-- subtitle -->
  <div class="my-2">

    <h4 class="text-dark font-weight-bold mb-4">
      Visa
    </h4>

    <p class="text-muted mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iusto voluptates consectetur eius? Ipsam quae laudantium exercitationem non autem harum deserunt, nostrum eius eaque, nesciunt nam dolore nemo numquam animi!
    </p>
    
  </div>

  <div class="separator separator-dashed my-10"></div>


  <!-- subtitle -->
  <div class="my-2">

    <h4 class="text-dark font-weight-bold mb-4">
      Vaccinations
    </h4>
    
    <ul class="mb-4">
      <li class="text-muted">Vaccination A (required)</li>
      <li class="text-muted">Vaccination B</li>
      <li class="text-muted">Vaccination C</li>
      <li class="text-muted">Vaccination D</li>
    </ul>

  </div>

  <div class="separator separator-dashed my-10"></div>


  <!-- subtitle -->
  <div class="my-2">

    <h4 class="text-dark font-weight-bold mb-4">
      National holidays
    </h4>

    <ul class="mb-4">
      <li class="text-muted">Holiday name A</li>
      <li class="text-muted">Holiday name B</li>
      <li class="text-muted">Holiday name C</li>
      <li class="text-muted">Holiday name D</li>
      <li class="text-muted">Holiday name E</li>
      <li class="text-muted">Holiday name F</li>
      <li class="text-muted">Holiday name G</li>
      <li class="text-muted">Holiday name H</li>
      <li class="text-muted">Holiday name I</li>
      <li class="text-muted">Holiday name J</li>
    </ul>
    
  </div>

</div>