<div
  *ngIf="initialData$ | async as initialData; else loadingOrError"
  class="container"
>
  <h1>Registration</h1>

  <form [formGroup]="formContainer">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="personal-tab"
          data-bs-toggle="tab"
          data-bs-target="#personal"
          type="button"
          role="tab"
          aria-controls="personal"
          aria-selected="true"
        >
          Personal
          <span
            *ngIf="
              personalFormProgress.required -
                personalFormProgress.requiredAndValid >
              0
            "
            class="badge bg-secondary"
            >{{
              personalFormProgress.required -
                personalFormProgress.requiredAndValid
            }}</span
          >
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="organizational-tab"
          data-bs-toggle="tab"
          data-bs-target="#organizational"
          type="button"
          role="tab"
          aria-controls="organizational"
          aria-selected="false"
        >
          Organizational
          <span
            *ngIf="
              organizationalFormProgress.required -
                organizationalFormProgress.requiredAndValid >
              0
            "
            class="badge bg-secondary"
            >{{
              organizationalFormProgress.required -
                organizationalFormProgress.requiredAndValid
            }}</span
          >
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="scans-tab"
          data-bs-toggle="tab"
          data-bs-target="#scans"
          type="button"
          role="tab"
          aria-controls="scans"
          aria-selected="false"
        >
          Scans
          <span
            *ngIf="
              scansFormProgress.required - scansFormProgress.requiredAndValid >
              0
            "
            class="badge bg-secondary"
            >{{
              scansFormProgress.required - scansFormProgress.requiredAndValid
            }}</span
          >
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="questions-tab"
          data-bs-toggle="tab"
          data-bs-target="#questions"
          type="button"
          role="tab"
          aria-controls="questions"
          aria-selected="false"
        >
          Questions
          <span
            *ngIf="
              questionsFormProgress.required -
                questionsFormProgress.requiredAndValid >
              0
            "
            class="badge bg-secondary"
            >{{
              questionsFormProgress.required -
                questionsFormProgress.requiredAndValid
            }}</span
          >
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="personal"
        role="tabpanel"
        aria-labelledby="personal-tab"
      >
        <app-personal-information
          [(personalForm)]="formContainer.controls.personalForm"
          (personalFormCounted)="personalFormProgress = $event"
          [role]="role"
          [initialData]="initialData"
        ></app-personal-information>
      </div>
      <div
        class="tab-pane fade"
        id="organizational"
        role="tabpanel"
        aria-labelledby="organizational-tab"
      >
        <app-organizational-information
          [(organizationalForm)]="formContainer.controls.organizationalForm"
          (organizationalFormCounted)="organizationalFormProgress = $event"
          [role]="role"
          [initialData]="initialData"
        ></app-organizational-information>
      </div>
      <div
        class="tab-pane fade"
        id="scans"
        role="tabpanel"
        aria-labelledby="scans-tab"
      >
        <app-scan-uploads
          [(scansForm)]="formContainer.controls.scansForm"
          (scansFormCounted)="scansFormProgress = $event"
        ></app-scan-uploads>
      </div>
      <div
        class="tab-pane fade"
        id="questions"
        role="tabpanel"
        aria-labelledby="questions-tab"
      >
        <app-questions
          [(questionsForm)]="formContainer.controls.questionsForm"
          (questionsFormCounted)="questionsFormProgress = $event"
          [role]="role"
          [initialData]="initialData"
        ></app-questions>
      </div>
    </div>

    <div class="container progress-bar-container bg-light rounded p-3">
      <div class="row">
        <div class="col">
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              [style.width]="
                (personalFormProgress.requiredAndValid +
                  organizationalFormProgress.requiredAndValid +
                  scansFormProgress.requiredAndValid +
                  questionsFormProgress.requiredAndValid) /
                  (personalFormProgress.required +
                    organizationalFormProgress.required +
                    scansFormProgress.required +
                    questionsFormProgress.required) | percent
              "
            >
              {{
                (personalFormProgress.requiredAndValid +
                  organizationalFormProgress.requiredAndValid +
                  scansFormProgress.requiredAndValid +
                  questionsFormProgress.requiredAndValid) /
                  (personalFormProgress.required +
                    organizationalFormProgress.required +
                    scansFormProgress.required +
                    questionsFormProgress.required) | percent
              }}
            </div>
          </div>
        </div>
        <div class="col-2">
          <button
            (click)="saveForm(false)"
            type="button"
            class="btn btn-outline-success"
          >
            Save
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            [disabled]="
              !(
                formContainer.controls.personalForm.valid &&
                formContainer.controls.organizationalForm.valid &&
                formContainer.controls.scansForm.valid &&
                formContainer.controls.questionsForm.valid
              )
            "
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Agreement dialog -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Terms of agreement</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
          saepe, neque quod voluptates nisi dicta impedit. Quisquam repudiandae
          alias laboriosam? Aperiam doloribus quam corporis nisi voluptatem est
          ipsum ut voluptates. Porro sit, dolores minus aut earum quod sunt
          ratione veritatis, modi atque sapiente, nesciunt exercitationem maxime
          iusto! Ab, aspernatur obcaecati sed, rerum commodi in sapiente,
          blanditiis quae fugiat quis labore? Quisquam nesciunt maiores sint
          ipsa sunt temporibus ducimus vel corporis! Praesentium, eaque ea,
          velit est veritatis odio amet minima accusamus iusto cum eligendi
          animi obcaecati voluptatibus a, laboriosam ipsa nostrum! Vitae
          suscipit itaque minima voluptas sequi aperiam ducimus pariatur nam.
          Labore maiores vel eos quas laudantium nisi! Fuga beatae, ea accusamus
          earum obcaecati optio consequatur asperiores velit, accusantium unde
          veritatis. Nulla earum repellat ea aspernatur sapiente ipsa sed in
          temporibus quo cupiditate, nisi repellendus doloribus inventore alias
          dolores neque et maiores voluptates nobis dolor. Et sunt ut nesciunt
          iusto reprehenderit.
        </div>
        <div class="container position-relative">
          <div class="form-check position-absolute top-0 end-0">
            <input
              [formControl]="agreementControl"
              class="form-check-input"
              type="checkbox"
              value=""
              id="agreementCheckbox"
            />
            <label class="form-check-label" for="agreementCheckbox">
              I agree with the terms mentioned above
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          (click)="saveForm(true)"
          type="submit"
          class="btn btn-primary"
          [disabled]="!agreementControl.valid"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <span *ngIf="errorMessage; else loading"></span>
  <ng-template #loading>
    <span>Laden...</span>
  </ng-template>
</ng-template>
