<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9">
      <div class="card mt-5">
        <!-- QR code scanner -->

        <div class="card text-center" *ngIf="!qrCodeResult">
          <div class="card-body">
            <div class="font-weight-bold pb-4">
              {{ "CHECK_IN.SCAN.TITLE" | translate }}
            </div>
            <zxing-scanner
              #scanner
              (scanSuccess)="onCodeResult($event)"
            ></zxing-scanner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- (camerasFound)="camerasFoundHandler($event)"
(camerasNotFound)="camerasNotFoundHandler($event)"
(scanSuccess)="scanSuccessHandler($event)"
(scanError)="scanErrorHandler($event)"
(scanFailure)="scanFailureHandler($event)"
(scanComplete)="scanCompleteHandler($event)" -->
