<ng-container
  *ngIf="
    DomainUtil.isSubdomain(DomainUtil.Subdomain.Team);
    else learningDashboard
  "
>
  <div
    class="row"
    *ngIf="
      AuthUtil.permitted([
        AuthUtil.roles.SuperAdmin,
        AuthUtil.roles.Admin,
        AuthUtil.roles.Librarian,
        AuthUtil.roles.Student,
        AuthUtil.roles.Volunteer,
        AuthUtil.roles.QRCodeReader
      ]);
      else noRoles
    "
  >
    <!--LIBRARY-->
    <div
      class="col-lg-3 menu-card one-big-child"
      *ngIf="
        AuthUtil.permitted([
          AuthUtil.roles.Librarian,
          AuthUtil.roles.SuperAdmin
        ])
      "
    >
      <div>
        <!--begin::Card-->
        <div class="card card-custom h-100">
          <!--begin::Body-->
          <div class="card-body text-white d-flex align-items-center">
            <div>
              <h3 class="font-weight-bolder line-height-lg mb-lg-2 mb-5">
                {{ "MENU.LIBRARY.TITLE" | translate }}
              </h3>
              <h5 class="font-weight-bold line-height-lg">
                {{ "MENU.LIBRARY.BOOKS" | translate }}
              </h5>
              <a
                routerLink="/library/books/overview"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.LIBRARY.OVERVIEW" | translate }}</a
              >
              <a
                routerLink="/library/books/add-book"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.LIBRARY.ADD_BOOK" | translate }}</a
              >
              <h5 class="font-weight-bold line-height-lg mt-lg-2 mt-4">
                {{ "MENU.LIBRARY.ITEMS" | translate }}
              </h5>
              <a
                routerLink="/library/items/files"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.LIBRARY.OVERVIEW" | translate }}</a
              >
              <a
                routerLink="/library/items/add-item"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.LIBRARY.ADD_ITEM" | translate }}</a
              >
              <h5 class="font-weight-bold line-height-lg mt-lg-2 mt-4">
                {{ "MENU.LIBRARY.LOANING" | translate }}
              </h5>
              <a
                routerLink="/library/loans/overview"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.LIBRARY.OVERVIEW" | translate }}</a
              >
              <a
                routerLink="/library/loans/new-loan"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.LIBRARY.NEW_LOAN" | translate }}</a
              >
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Card-->
      </div>
    </div>
    <!--STUDENT & VOLUNTEER-->
    <div
      class="col-lg-3 menu-card"
      *ngIf="
        AuthUtil.permitted([
          AuthUtil.roles.Student,
          AuthUtil.roles.Volunteer,
          AuthUtil.roles.SuperAdmin
        ])
      "
      [ngClass]="
        AuthUtil.permitted([
          AuthUtil.roles.Student,
          AuthUtil.roles.SuperAdmin
        ]) &&
        AuthUtil.permitted([
          AuthUtil.roles.Volunteer,
          AuthUtil.roles.SuperAdmin
        ])
          ? 'two-small-children'
          : 'one-small-child'
      "
    >
      <div
        *ngIf="
          AuthUtil.permitted([
            AuthUtil.roles.Student,
            AuthUtil.roles.SuperAdmin
          ])
        "
      >
        <!--begin::Card-->
        <div class="card card-custom h-100">
          <!--begin::Body-->
          <div class="card-body text-white d-flex align-items-center">
            <div>
              <h3 class="font-weight-bolder line-height-lg mb-lg-3 mb-5">
                {{ "REGISTRATION.GENERAL.STUDENT" | translate }}
              </h3>
              <a
                routerLink="/registration-form/student"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.MANAGEMENT.REGISTRATION" | translate }}</a
              >
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Card-->
      </div>
      <div
        *ngIf="
          AuthUtil.permitted([
            AuthUtil.roles.Volunteer,
            AuthUtil.roles.SuperAdmin
          ])
        "
      >
        <!--begin::Card-->
        <div class="card card-custom h-100">
          <!--begin::Body-->
          <div class="card-body text-white d-flex align-items-center">
            <div>
              <h3 class="font-weight-bolder line-height-lg mb-lg-3 mb-5">
                {{ "REGISTRATION.GENERAL.VOLUNTEER" | translate }}
              </h3>
              <a
                routerLink="/registration-form/volunteer"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.MANAGEMENT.REGISTRATION" | translate }}</a
              >
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Card-->
      </div>
    </div>

    <div
      class="col-lg-3 menu-card"
      *ngIf="
        AuthUtil.permitted([
          AuthUtil.roles.Student,
          AuthUtil.roles.Volunteer,
          AuthUtil.roles.Admin,
          AuthUtil.roles.SuperAdmin
        ])
      "
      [ngClass]="'one-big-child'"
    >
      <div
        *ngIf="
          AuthUtil.permitted([AuthUtil.roles.Admin, AuthUtil.roles.SuperAdmin])
        "
      >
        <!--begin::Card-->
        <div class="card card-custom h-200">
          <!--begin::Body-->
          <div class="card-body text-white d-flex align-items-center">
            <div>
              <h3 class="font-weight-bolder line-height-lg mb-lg-3 mb-5">
                {{ "MENU.ORGANIZATION.TITLE" | translate }}
              </h3>
              <a
                routerLink="/organization/roles"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.ORGANIZATION.ROLES" | translate }}</a
              >
              <a
                routerLink="/organization/registrations"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.ORGANIZATION.REGISTRATIONS" | translate }}</a
              >
              <a
                routerLink="/organization/check-in/list"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.ORGANIZATION.CHECK_IN_LIST" | translate }}</a
              >
              <a
                routerLink="/organization/general-information"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.ORGANIZATION.GENERAL_INFORMATION" | translate }}</a
              >
              <a
                routerLink="/organization/calendar"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.KAL" | translate }}</a
              >
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Card-->
      </div>
    </div>
    <!-- IT - DOCUMENTATION -->
    <div
      class="col-lg-3 menu-card one-big-child"
      *ngIf="AuthUtil.permitted([AuthUtil.roles.SuperAdmin])"
    >
      <div>
        <!--begin::Card-->
        <div class="card card-custom h-100">
          <!--begin::Body-->
          <div class="card-body text-white d-flex align-items-center">
            <div>
              <h3 class="font-weight-bolder line-height-lg mb-lg-2 mb-5">
                {{ "MENU.DOCUMENTATION.TITLE" | translate }}
              </h3>
              <h5 class="font-weight-bold line-height-lg">
                {{ "MENU.DOCUMENTATION.GETTING_STARTED" | translate }}
              </h5>
              <a
                routerLink="/documentation/getting-started/0-preparations"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.DOCUMENTATION.S0_PREPARATIONS" | translate }}</a
              >
              <a
                routerLink="/documentation/getting-started/1-setting-up"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.DOCUMENTATION.S1_SETTING_UP" | translate }}</a
              >
              <a
                routerLink="/documentation//getting-started/2-best-practices/models-and-tables"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{
                  "MENU.DOCUMENTATION.S2_BEST_PRACTICES.TITLE" | translate
                }}</a
              >
              <a
                routerLink="/documentation/getting-started/3-deployment-azure"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{
                  "MENU.DOCUMENTATION.S3_DEPLOYMENT_AND_AZURE" | translate
                }}</a
              >
              <h5 class="font-weight-bold line-height-lg mt-lg-2 mt-4">TODO</h5>
              <a
                routerLink="/documentation/todos"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >Todo</a
              >
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Card-->
      </div>
    </div>

    <div
      class="col-lg-3 menu-card one-small-child"
      *ngIf="AuthUtil.permitted([AuthUtil.roles.QRCodeReader])"
    >
      <div>
        <!--begin::Card-->
        <div class="card card-custom h-100">
          <!--begin::Body-->
          <div class="card-body text-white d-flex align-items-center">
            <div class="w-100">
              <h3 class="font-weight-bolder line-height-lg mb-lg-2 mb-5">
                {{ "MENU.ORGANIZATION.CHECK_IN" | translate }}
              </h3>
              <button
                routerLink="/organization/check-in/scan"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
              >
                <span>{{ "CHECK_IN.SCAN_QR_CODE" | translate }}</span>
                <i class="fas fa-qrcode text-dark"></i>
              </button>
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Card-->
      </div>
    </div>

    <div
      class="col-lg-3 menu-card one-big-child"
      *ngIf="
        AuthUtil.permitted([
          AuthUtil.roles.Admin,
          AuthUtil.roles.SuperAdmin,
          AuthUtil.roles.Librarian,
          AuthUtil.roles.Student,
          AuthUtil.roles.Volunteer
        ])
      "
    >
      <div>
        <!--begin::Card-->
        <div
          class="card card-custom h-200"
          *ngIf="
            AuthUtil.permitted([
              AuthUtil.roles.Admin,
              AuthUtil.roles.SuperAdmin,
              AuthUtil.roles.Librarian,
              AuthUtil.roles.Student,
              AuthUtil.roles.Volunteer
            ])
          "
        >
          <!--begin::Body-->
          <div class="card-body text-white d-flex align-items-center">
            <div>
              <h3 class="font-weight-bold line-height-lg">
                {{ "MENU.LIBRARY.LES" | translate }}
              </h3>
              <a
                routerLink="/class/files"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.LIBRARY.OVERVIEW" | translate }}</a
              >
              <a
                routerLink="/class/overview"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.ZOEK" | translate }}</a
              >
              <a
                routerLink="/class/add-class"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "MENU.LIBRARY.ADD_LES" | translate }}</a
              >

              <a
                routerLink="/class/documentation"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0"
                >{{ "LIBRARY.CLASS.HELP" | translate }}</a
              >
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Card-->
      </div>
    </div>
  </div>
  <ng-template #noRoles>
    <div class="w-100 mt-5 text-center">
      <p class="font-weight-bold">{{ "MENU.NO_ROLES" | translate }}</p>
      <a
        href="mailto:info@ananau.org"
        class="btn btn-primary font-weight-bold mt-2"
      >
        <i class="socicon-mail"></i
        ><span class="text-white">info@ananau.org</span>
      </a>
    </div>
  </ng-template>
</ng-container>

<ng-template #learningDashboard>
  <div
    class="row"
    *ngIf="
      AuthUtil.permitted([AuthUtil.roles.SuperAdmin, AuthUtil.roles.SpanishTeacher, AuthUtil.roles.SpanishLearner]);
      else noRoles
    "
  >

  <!-- Exercise -->
  <div
      class="col-lg-3 menu-card one-small-child"
      *ngIf="
        AuthUtil.permitted([AuthUtil.roles.SpanishLearner, AuthUtil.roles.SpanishTeacher, AuthUtil.roles.SuperAdmin])
      "
    >
      <div>
        <div class="card card-custom h-150">
          <div class="card-body text-white d-flex align-items-center">
            <div class="w-100">
              <h3 class="font-weight-bolder line-height-lg mb-lg-2 mb-5">
                {{ "MENU.LEARNING_PLATFORM.EXERCISE" | translate }}
              </h3>
              <ng-container *ngIf="AuthUtil.permitted([AuthUtil.roles.SpanishTeacher, AuthUtil.roles.SuperAdmin]); else exercise_buttons_learner">
                <button
                  routerLink="/exercise/submission/list"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "MENU.LEARNING_PLATFORM.SUBMITIONS" | translate }}
                  </span>
                  <i class="fas fa-list text-dark"></i>
                </button>
                <button
                  routerLink="/exercise/shared"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "MENU.LEARNING_PLATFORM.ASSIGNED_EXERCISES" | translate }}
                  </span>
                  <i class="fas fa-list text-dark"></i>
                </button>
                <button
                  routerLink="/exercise/list"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "EXERCISE.LIST.LIST" | translate }}
                  </span>
                  <i class="fas fa-list text-dark"></i>
                </button>
                <button
                  routerLink="/exercise/create"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "EXERCISE.LIST.CREATE_EXERCISE" | translate }}
                  </span>
                  <i class="fas fa-plus text-dark"></i>
                </button>
                </ng-container>

                <ng-template #exercise_buttons_learner>
                  <button
                  routerLink="/exercise/shared"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "EXERCISE.ASSIGN.MY_EXERCISES" | translate }}
                  </span>
                  <i class="fas fa-list text-dark"></i>
                </button>
                <button
                  routerLink="/exercise/submission/list"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "EXERCISE.SUBMISSION.MY_SUBMISSIONS" | translate }}
                  </span>
                  <i class="fas fa-list text-dark"></i>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Test -->
    <div
      class="col-lg-3 menu-card one-small-child"
      *ngIf="
        AuthUtil.permitted([AuthUtil.roles.SpanishLearner, AuthUtil.roles.SpanishTeacher, AuthUtil.roles.SuperAdmin])
      "
    >
      <div>
        <div class="card card-custom h-100">
          <div class="card-body text-white d-flex align-items-center">
            <div class="w-100">
              <h3 class="font-weight-bolder line-height-lg mb-lg-2 mb-5">
                {{ "MENU.LEARNING_PLATFORM.TEST" | translate }}
              </h3>
              <ng-container *ngIf="AuthUtil.permitted([AuthUtil.roles.SpanishTeacher, AuthUtil.roles.SuperAdmin]); else test_buttons_learner">
                <button
                  routerLink="/test/submitted"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "TEST.OVERVIEW_SUBMISSION.SUBMITTED_TESTS" | translate }}
                  </span>
                  <i class="fas fa-list text-dark"></i>
                </button>
                <button
                  routerLink="/test/list"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "TEST.LIST.TEST_LIST" | translate }}
                  </span>
                  <i class="fas fa-list text-dark"></i>
                </button>
                <button
                  routerLink="/test/create"
                  class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
                >
                  <span>
                    {{ "TEST.LIST.LABELS.CREATE" | translate }}
                  </span>
                  <i class="fas fa-plus text-dark"></i>
                </button>
              </ng-container>

              <ng-template #test_buttons_learner>
              <button
                routerLink="/test/submitted_test"
                class="btn font-weight-bold px-6 py-3 mb-2 mr-2 mr-lg-0 d-flex justify-content-between w-100"
              >
                <span>
                  {{ "EXERCISE.SUBMISSION.MY_SUBMISSIONS" | translate }}
                </span>
                <i class="fas fa-list text-dark"></i>
              </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <ng-template #noRoles>
    <div class="w-100 mt-5 text-center">
      <p class="font-weight-bold">{{ "MENU.NO_ROLES" | translate }}</p>
      <a
        href="mailto:info@ananau.org"
        class="btn btn-primary font-weight-bold mt-2"
      >
        <i class="socicon-mail"></i
        ><span class="text-white">info@ananau.org</span>
      </a>
    </div>
  </ng-template>
</ng-template>
