<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <!--begin::Logo-->
  <a routerLink="/" class="brand-logo m-auto">
    <img alt="Logo" [attr.src]="headerLogo" />
  </a>
  <!--end::Logo-->

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span
        [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        "
        cacheSVG="true"
        class="svg-icon svg-icon-xl"
      ></span>
    </button>
  </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div
    id="kt_aside_menu"
    class="aside-menu"
    [ngClass]="asideMenuCSSClasses"
    data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll"
    [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500"
  >
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">
      <!-- begin::1 Level -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text" translate="MENU.DASHBOARD"></span>
        </a>
      </li>

      <!-- LIBRARY -->
      <!-- begin::section -->
      <li class="menu-section" *ngIf="AuthUtil.permitted(['librarian'])">
        <h4 class="menu-text">{{ "MENU.LIBRARY.TITLE" | translate }}</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->

      <!-- begin::1 Level -->
      <!-- begin::1 Level -->

      <li
        class="menu-item menu-item-submenu"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-open"
        *ngIf="AuthUtil.permitted(['librarian'])"
      >
        <a
          class="menu-link menu-toggle"
          routerLinkActive="active"
          href="/library/books"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text"> {{ "MENU.LIBRARY.BOOKS" | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <li class="menu-item menu-item-parent" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">{{
                  "MENU.LIBRARY.BOOKS" | translate
                }}</span>
              </span>
            </li>

            <!-- Form Controls -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/library/books/overview"
                routerLinkActive="active"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'"
                  cacheSVG="true"
                  class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">{{
                  "MENU.LIBRARY.OVERVIEW" | translate
                }}</span>
              </a>
            </li>

            <!-- Form Controls -->
            <!-- begin::2 Level -->

            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/library/books/add-book"
                routerLinkActive="active"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Files/File-plus.svg'"
                  cacheSVG="true"
                  class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">{{
                  "MENU.LIBRARY.ADD_BOOK" | translate
                }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <!-- begin::1 Level -->
      <li
        class="menu-item menu-item-submenu"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-open"
        *ngIf="AuthUtil.permitted(['librarian'])"
      >
        <a
          class="menu-link menu-toggle"
          routerLinkActive="active"
          href="/library/items"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Shopping/Box3.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text"> {{ "MENU.LIBRARY.ITEMS" | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <li class="menu-item menu-item-parent" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">{{
                  "MENU.LIBRARY.ITEMS" | translate
                }}</span>
              </span>
            </li>

            <!-- Form Controls -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/library/items/overview"
                routerLinkActive="active"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Shopping/Box3.svg'"
                  cacheSVG="true"
                  class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">{{
                  "MENU.LIBRARY.OVERVIEW" | translate
                }}</span>
              </a>
            </li>

            <!-- Form Controls -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/library/items/add-item"
                routerLinkActive="active"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Files/File-plus.svg'"
                  cacheSVG="true"
                  class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">{{
                  "MENU.LIBRARY.ADD_ITEM" | translate
                }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li
        class="menu-item menu-item-submenu"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-open"
        *ngIf="AuthUtil.permitted(['librarian'])"
      >
        <a
          class="menu-link menu-toggle"
          routerLinkActive="active"
          href="/library/loans"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Files/Upload.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">
            {{ "MENU.LIBRARY.LOANING" | translate }}</span
          >
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <li class="menu-item menu-item-parent" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">{{
                  "MENU.LIBRARY.ITEMS" | translate
                }}</span>
              </span>
            </li>

            <!-- Form Controls -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/library/loans/overview"
                routerLinkActive="active"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Files/Upload.svg'"
                  cacheSVG="true"
                  class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">{{
                  "MENU.LIBRARY.OVERVIEW" | translate
                }}</span>
              </a>
            </li>

            <!-- Form Controls -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/library/loans/new-loan"
                routerLinkActive="active"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Files/File-plus.svg'"
                  cacheSVG="true"
                  class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">{{
                  "MENU.LIBRARY.NEW_LOAN" | translate
                }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- Material-UI -->
      <!-- begin::1 Level -->
      <!-- <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/library" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'" cacheSVG="true"
            class="svg-icon menu-icon"></span>
          <span class="menu-text">{{"MENU.LIBRARY.OVERVIEW" | translate }}</span>
        </a>
      </li> -->
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
        *ngIf="AuthUtil.permitted([''])"
      >
        <a class="menu-link" routerLink="/scan-item" routerLinkActive="active">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Shopping/Barcode-read.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Scan Item</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- STUDENT -->
      <!-- begin::section -->
      <li
        class="menu-section"
        *ngIf="AuthUtil.permitted(['SuperAdmin', 'Student'])"
      >
        <h4 class="menu-text">
          {{ "REGISTRATION.GENERAL.STUDENT" | translate }}
        </h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->
      <!-- begin::1 Level - Student registration form -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
        *ngIf="AuthUtil.permitted(['SuperAdmin', 'Student'])"
      >
        <a
          class="menu-link"
          routerLink="/registration-form/student"
          routerLinkActive="active"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Files/File.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">{{
            "MENU.MANAGEMENT.REGISTRATION" | translate
          }}</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- VOLUNTEER -->
      <!-- begin::section -->
      <li
        class="menu-section"
        *ngIf="AuthUtil.permitted(['SuperAdmin', 'Volunteer'])"
      >
        <h4 class="menu-text">
          {{ "REGISTRATION.GENERAL.VOLUNTEER" | translate }}
        </h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->
      <!-- begin::1 Level - Student registration form -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
        *ngIf="AuthUtil.permitted(['SuperAdmin', 'Volunteer'])"
      >
        <a
          class="menu-link"
          routerLink="/registration-form/volunteer"
          routerLinkActive="active"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Files/File.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">{{
            "MENU.MANAGEMENT.REGISTRATION" | translate
          }}</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- ORGANIZATION -->
      <!-- begin::section -->
      <li
        class="menu-section"
        *ngIf="AuthUtil.permitted(['SuperAdmin', 'Volunteer', 'Student'])"
      >
        <h4 class="menu-text">{{ "MENU.ORGANIZATION.TITLE" | translate }}</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->
      <!-- begin::1 Level -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a
          class="menu-link"
          routerLink="/organization/roles"
          routerLinkActive="active"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Home/Door-open.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text"
            >{{ "MENU.ORGANIZATION.ROLES" | translate }}
          </span>
        </a>
      </li>
      <!-- end::1 Level -->
      <!-- begin::1 Level -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a
          class="menu-link"
          routerLink="/organization/registrations"
          routerLinkActive="active"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Communication/Mail-box.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text"
            >{{ "MENU.ORGANIZATION.REGISTRATIONS" | translate }}
          </span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- USER MANAGEMENT -->
      <!-- begin::section -->
      <li class="menu-section">
        <h4 class="menu-text">{{ "MENU.DOCUMENTATION.TITLE" | translate }}</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->
      <!-- begin::1 Level -->
      <li
        class="menu-item menu-item-submenu"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-open"
        *ngIf="AuthUtil.permitted(['superadmin'])"
      >
        <a
          class="menu-link menu-toggle"
          routerLinkActive="active"
          href="/documentation"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Home/Book.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">
            {{ "MENU.DOCUMENTATION.GETTING_STARTED" | translate }}</span
          >
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <li class="menu-item menu-item-parent" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">{{
                  "MENU.DOCUMENTATION.GETTING_STARTED" | translate
                }}</span>
              </span>
            </li>

            <!-- Form Controls -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/documentation/getting-started/0-preparations"
                routerLinkActive="active"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Home/Book-open.svg'"
                  cacheSVG="true"
                  class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">{{
                  "MENU.DOCUMENTATION.S0_PREPARATIONS" | translate
                }}</span>
              </a>
            </li>

            <!-- Form Controls -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/documentation/getting-started/1-setting-up"
                routerLinkActive="active"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Home/Book-open.svg'"
                  cacheSVG="true"
                  class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">{{
                  "MENU.DOCUMENTATION.S1_SETTING_UP" | translate
                }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- /////////////////////////////////////////////////////////////////// THEME FROM HERE BELOW -->
    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->
