<div class="my-2">
  <h3 class="text-dark font-weight-bold mb-10">
    {{ "REGISTRATION.ORGANIZATIONAL.TITLE" | translate }}
  </h3>
  <!-- dates -->
  <div class="my-2">
    <h4 class="text-dark font-weight-bold mb-4">
      {{ "REGISTRATION.ORGANIZATIONAL.DATES.TITLE" | translate }}
    </h4>
    <form [formGroup]="organizationalForm.controls.dates">
      <!-- internship online -->
      <div *ngIf="role === 'Volunteer'" class="form-group row">
        <label for="internshipOnline" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.DATES.ONLINE" | translate
        }}</label>
        <div class="col-9">
          <span class="switch switch-sm">
            <label>
              <input
                type="checkbox"
                id="internshipOnline"
                formControlName="internshipOnline"
              />
              <span></span>
            </label>
          </span>
          <div
            *ngIf="
              organizationalForm.controls.dates.get('internshipOnline')[
                'errors'
              ] &&
              organizationalForm.controls.dates.get('internshipOnline').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.dates.get("internshipOnline")[
                  "errors"
                ]
              )
            }}
          </div>
          <span class="form-text text-muted">{{
            "REGISTRATION.ORGANIZATIONAL.DATES.ONLINE_INFO" | translate
          }}</span>
        </div>
      </div>
      <!-- start date -->
      <div class="form-group row">
        <label for="datesStartDate" class="col-3">{{
          (role === "Student"
            ? "REGISTRATION.ORGANIZATIONAL.DATES.START_STUDENT"
            : "REGISTRATION.ORGANIZATIONAL.DATES.START_VOLUNTEER"
          ) | translate
        }}</label>
        <div class="col-9">
          <input
            class="form-control form-control-solid"
            id="datesStartDate"
            type="date"
            formControlName="startDate"
            placeholder="yyyy-mm-dd"
            required
          />
          <div
            *ngIf="
              organizationalForm.controls.dates.get('startDate')['errors'] &&
              organizationalForm.controls.dates.get('startDate').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.dates.get("startDate")["errors"]
              )
            }}
          </div>
        </div>
      </div>
      <!-- end date -->
      <div class="form-group row">
        <label for="datesEndDate" class="col-3">
          {{
            (role === "Student"
              ? "REGISTRATION.ORGANIZATIONAL.DATES.END_STUDENT"
              : "REGISTRATION.ORGANIZATIONAL.DATES.END_VOLUNTEER"
            ) | translate
          }}
        </label>
        <div class="col-9">
          <input
            class="form-control form-control-solid"
            id="datesEndDate"
            type="date"
            formControlName="endDate"
            placeholder="yyyy-mm-dd"
            required
          />
          <div
            *ngIf="
              organizationalForm.controls.dates.get('endDate')['errors'] &&
              organizationalForm.controls.dates.get('endDate').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.dates.get("endDate")["errors"]
              )
            }}
          </div>
        </div>
      </div>
      <!-- start date period of leave -->
      <div *ngIf="role === 'Student'" class="form-group row">
        <label for="datesLeaveStartDate" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.DATES.LEAVE_START" | translate
        }}</label>
        <div class="col-9">
          <input
            class="form-control form-control-solid"
            id="datesLeaveStartDate"
            type="date"
            formControlName="leaveStartDate"
            placeholder="yyyy-mm-dd"
          />
          <div
            *ngIf="
              organizationalForm.controls.dates.get('leaveStartDate')[
                'errors'
              ] &&
              organizationalForm.controls.dates.get('leaveStartDate').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.dates.get("leaveStartDate")[
                  "errors"
                ]
              )
            }}
          </div>
          <span class="form-text text-muted">{{
            "REGISTRATION.ORGANIZATIONAL.DATES.LEAVE_INFO" | translate
          }}</span>
        </div>
      </div>
      <!-- end date period of leave -->
      <div *ngIf="role === 'Student'" class="form-group row">
        <label for="datesLeaveEndDate" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.DATES.LEAVE_END" | translate
        }}</label>
        <div class="col-9">
          <input
            class="form-control form-control-solid"
            id="datesLeaveEndDate"
            type="date"
            formControlName="leaveEndDate"
            placeholder="yyyy-mm-dd"
          />
          <div
            *ngIf="
              organizationalForm.controls.dates.get('leaveEndDate')['errors'] &&
              organizationalForm.controls.dates.get('leaveEndDate').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.dates.get("leaveEndDate")["errors"]
              )
            }}
          </div>
          <span class="form-text text-muted">{{
            "REGISTRATION.ORGANIZATIONAL.DATES.LEAVE_INFO" | translate
          }}</span>
        </div>
      </div>
    </form>
  </div>
  <div class="separator separator-dashed my-10"></div>


  
  <!-- flight information -->
  <div class="my-2">
    <h4 class="text-dark font-weight-bold mb-4">
      {{ "REGISTRATION.ORGANIZATIONAL.FLIGHT_INFORMATION.TITLE" | translate }}
    </h4>
    <form [formGroup]="organizationalForm.controls.flightInformation">


     <!-- flight number -->
     <div class="form-group row">
        <label for="flightNumber" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.FLIGHT_INFORMATION.NUMBER" | translate
        }}</label>
        <div class="col-9">
          <textarea
            class="form-control form-control-solid"
            id="flightNumber"
            formControlName="flightNumber"
            rows="1"
          ></textarea>
          <div
            *ngIf="
              organizationalForm.controls.flightInformation.get('flightNumber')['errors'] &&
              organizationalForm.controls.flightInformation.get('flightNumber').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.flightInformation.get("flightNumber")["errors"]
              )
            }}
          </div>
        </div>
      </div>


      <!-- date of arrival -->
      <div *ngIf="role === 'Student'" class="form-group row">
        <label for="flightDateArrival" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.FLIGHT_INFORMATION.DATE_ARRIVAL" | translate
        }}</label>
        <div class="col-9">
          <input
            class="form-control form-control-solid"
            id="flightDateArrival"
            type="date"
            formControlName="flightDateArrival"
            placeholder="yyyy-mm-dd"
          />
          <div
            *ngIf="
              organizationalForm.controls.flightInformation.get('flightDateArrival')[
                'errors'
              ] &&
              organizationalForm.controls.flightInformation.get('flightDateArrival').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.flightInformation.get("flightDateArrival")[
                  "errors"
                ]
              )
            }}
          </div>
        </div>
      </div>





    </form>
  </div>
  <div class="separator separator-dashed my-10"></div>  
  




  <!-- spanish -->
  <div class="my-2">
    <h4 class="text-dark font-weight-bold mb-4">
      {{ "REGISTRATION.ORGANIZATIONAL.SPANISH.TITLE" | translate }}
    </h4>
    <p class="text-muted mb-4">
      {{
        (role === "Student"
          ? "REGISTRATION.ORGANIZATIONAL.SPANISH.INFO_STUDENT"
          : "REGISTRATION.ORGANIZATIONAL.SPANISH.INFO_VOLUNTEER"
        ) | translate
      }}
    </p>
    <form [formGroup]="organizationalForm.controls.spanish">
      <!-- level -->
      <div class="form-group row">
        <label for="spanishLevel" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.SPANISH.LEVEL" | translate
        }}</label>
        <div class="col-9">
          <textarea
            class="form-control form-control-solid"
            id="spanishLevel"
            formControlName="level"
            rows="3"
            required
          ></textarea>
          <div
            *ngIf="
              organizationalForm.controls.spanish.get('level')['errors'] &&
              organizationalForm.controls.spanish.get('level').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.spanish.get("level")["errors"]
              )
            }}
          </div>
        </div>
      </div>
      <!-- weeks online -->
      <div class="form-group row">
        <label for="spanishWeeksOnline" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.SPANISH.WEEKS_ONLINE" | translate
        }}</label>
        <div class="col-9">
          <input
            class="form-control form-control-solid"
            id="spanishWeeksOnline"
            type="number"
            formControlName="weeksOnline"
          />
          <div
            *ngIf="
              organizationalForm.controls.spanish.get('weeksOnline')[
                'errors'
              ] &&
              organizationalForm.controls.spanish.get('weeksOnline').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.spanish.get("weeksOnline")["errors"]
              )
            }}
          </div>
          <span class="form-text text-muted">{{
            (role === "Student"
              ? "REGISTRATION.ORGANIZATIONAL.SPANISH.WEEKS_ONLINE_INFO_STUDENT"
              : "REGISTRATION.ORGANIZATIONAL.SPANISH.WEEKS_ONLINE_INFO_VOLUNTEER"
            ) | translate
          }}</span>
        </div>
      </div>
      <!-- weeks -->
      <div class="form-group row">
        <label for="spanishWeeks" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.SPANISH.WEEKS" | translate
        }}</label>
        <div class="col-9">
          <input
            class="form-control form-control-solid"
            id="spanishWeeks"
            type="number"
            formControlName="weeks"
          />
          <div
            *ngIf="
              organizationalForm.controls.spanish.get('weeks')['errors'] &&
              organizationalForm.controls.spanish.get('weeks').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.spanish.get("weeks")["errors"]
              )
            }}
          </div>
          <span class="form-text text-muted">{{
            "REGISTRATION.ORGANIZATIONAL.SPANISH.WEEKS_INFO" | translate
          }}</span>
        </div>
      </div>
    </form>
  </div>
  <div class="separator separator-dashed my-10"></div>
  <!-- motivation letter -->
  <div class="my-2">
    <h4 class="text-dark font-weight-bold mb-4">
      {{ "REGISTRATION.ORGANIZATIONAL.MOTIVATION_LETTER.TITLE" | translate }}
    </h4>
    <form [formGroup]="organizationalForm.controls.motivationLetter">
      <div class="form-group row">
        <label for="motivationLetter" class="col-3">{{
      "REGISTRATION.ORGANIZATIONAL.MOTIVATION_LETTER.MOTIVATION" | translate
    }}</label>
        <div class="col-9">
          <textarea
            class="form-control form-control-solid"
            id="motivationLetter"
            formControlName="motivationLetter"
            rows="5"
            required
            (input)="adjustTextareaHeight($event)"
          ></textarea>
          <div
            *ngIf="
              organizationalForm.controls.motivationLetter.get('motivationLetter')['errors'] &&
              organizationalForm.controls.motivationLetter.get('motivationLetter').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.motivationLetter.get("motivationLetter")["errors"]
              )
            }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="separator separator-dashed my-10"></div>  
  <!-- info -->
  <div class="my-2">
    <h4 class="text-dark font-weight-bold mb-4">
      {{ "REGISTRATION.ORGANIZATIONAL.INFO.TITLE" | translate }}
    </h4>
    <form [formGroup]="organizationalForm.controls.info">
      <!-- occupation -->
      <div class="form-group row">
        <label for="infoOccupation" class="col-3">{{
          (role === "Student"
            ? "REGISTRATION.ORGANIZATIONAL.INFO.OCCUPATION_STUDENT"
            : "REGISTRATION.ORGANIZATIONAL.INFO.OCCUPATION_VOLUNTEER"
          ) | translate
        }}</label>
        <div class="col-9">
          <textarea
            class="form-control form-control-solid"
            id="infoOccupation"
            formControlName="occupation"
            rows="3"
            required
          ></textarea>
          <div
            *ngIf="
              organizationalForm.controls.info.get('occupation')['errors'] &&
              organizationalForm.controls.info.get('occupation').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.info.get("occupation")["errors"]
              )
            }}
          </div>
        </div>
      </div>
      <!-- degree -->
      <div *ngIf="role === 'Student'" class="form-group row">
        <label for="infoDegree" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.INFO.DEGREE" | translate
        }}</label>
        <div class="col-9">
          <input
            class="form-control form-control-solid"
            id="infoDegree"
            formControlName="degree"
            required
          />
          <div
            *ngIf="
              organizationalForm.controls.info.get('degree')['errors'] &&
              organizationalForm.controls.info.get('degree').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.info.get("degree")["errors"]
              )
            }}
          </div>
        </div>
      </div>
      <!-- internship context -->
      <div *ngIf="role === 'Student'" class="form-group row">
        <label for="infoInternshipContext" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.INFO.INTERNSHIP_CONTEXT.TITLE"
            | translate
        }}</label>
        <div class="col-9">
          <select
            class="form-control form-control-solid"
            id="infoInternshipContext"
            formControlName="internshipContext"
            required
          >
            <option value="0" selected>--</option>
            <option value="1">
              {{
                "REGISTRATION.ORGANIZATIONAL.INFO.INTERNSHIP_CONTEXT.PROJECT"
                  | translate
              }}
            </option>
            <option value="2">
              {{
                "REGISTRATION.ORGANIZATIONAL.INFO.INTERNSHIP_CONTEXT.THESIS"
                  | translate
              }}
            </option>
            <option value="3">
              {{
                "REGISTRATION.ORGANIZATIONAL.INFO.INTERNSHIP_CONTEXT.OTHER"
                  | translate
              }}
            </option>
          </select>
          <div
            *ngIf="
              organizationalForm.controls.info.get('internshipContext')[
                'errors'
              ] &&
              organizationalForm.controls.info.get('internshipContext').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.info.get("internshipContext")[
                  "errors"
                ]
              )
            }}
          </div>
        </div>
      </div>
      <!-- tasks -->
      <div class="form-group row">
        <label for="infoTasks" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.INFO.TASKS" | translate
        }}</label>
        <div class="col-9">
          <textarea
            class="form-control form-control-solid"
            id="infoTasks"
            formControlName="tasks"
            rows="3"
            required
          ></textarea>
          <div
            *ngIf="
              organizationalForm.controls.info.get('tasks')['errors'] &&
              organizationalForm.controls.info.get('tasks').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.info.get("tasks")["errors"]
              )
            }}
          </div>
          <span class="form-text text-muted">{{
            (role === "Student"
              ? "REGISTRATION.ORGANIZATIONAL.INFO.TASKS_INFO_STUDENT"
              : "REGISTRATION.ORGANIZATIONAL.INFO.TASKS_INFO_VOLUNTEER"
            ) | translate
          }}</span>
        </div>
      </div>
      <!-- expectations -->
      <div class="form-group row">
        <label for="infoExpecations" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.INFO.EXPECTATIONS" | translate
        }}</label>
        <div class="col-9">
          <textarea
            class="form-control form-control-solid"
            id="infoExpecations"
            formControlName="expectations"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              organizationalForm.controls.info.get('expectations')['errors'] &&
              organizationalForm.controls.info.get('expectations').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.info.get("expectations")["errors"]
              )
            }}
          </div>
          <span class="form-text text-muted">{{
            (role === "Student"
              ? "REGISTRATION.ORGANIZATIONAL.INFO.EXPECTATIONS_INFO_STUDENT"
              : "REGISTRATION.ORGANIZATIONAL.INFO.EXPECTATIONS_INFO_VOLUNTEER"
            ) | translate
          }}</span>
        </div>
      </div>
      <!-- proposals -->
      <div class="form-group row">
        <label for="infoProposals" class="col-3">{{
          "REGISTRATION.ORGANIZATIONAL.INFO.PROPOSALS" | translate
        }}</label>
        <div class="col-9">
          <textarea
            class="form-control form-control-solid"
            id="infoProposals"
            formControlName="proposals"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              organizationalForm.controls.info.get('proposals')['errors'] &&
              organizationalForm.controls.info.get('proposals').touched
            "
            class="text-danger form-text"
          >
            {{
              getErrorMessage(
                organizationalForm.controls.info.get("proposals")["errors"]
              )
            }}
          </div>
          <span class="form-text text-muted">{{
            "REGISTRATION.ORGANIZATIONAL.INFO.PROPOSALS_INFO" | translate
          }}</span>
        </div>
      </div>
    </form>
  </div>
</div>
