// Application colors
$light-green:#008037;
$green:#0B5F3E;
$primary:#0B5F3E;
$dark-green:#194B32;

// Splash screen spinner
.splash-spinner.path,
.spinner.spinner-primary,
.spinner.spinner-ananau {
  stroke: $green !important;
}

// Set link color to green!
a,
.text-primary,
.text-primary.font-weight-bolder,
.navi .navi-item .navi-link.active .navi-text {
  color: $green !important;
}

a:hover,
a:active,
.text-primary:hover,
.text-primary.font-weight-bolder:hover,
.text-primary:active,
.text-primary.font-weight-bolder:active,
.text-primary:focus,
.text-primary.font-weight-bolder:focus,
.navi .navi-item .navi-link:hover,
.navi .navi-item .navi-link:hover .navi-text {
  color: $dark-green !important;
}

// Light butten -> mostly cancel
.btn.btn-light-primary:hover {
  color: white !important;
  background-color: $dark-green !important;
}

// Checked checkbox
.checkbox>input:checked~span {
  background-color: $dark-green !important;
}

// Set button color to green
.btn.btn-primary {
  border-color: $green !important;
  background-color: $green !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  border-color: $dark-green !important;
  background-color: $dark-green !important;
}

.navi .navi-item .navi-link.active .navi-icon svg g [fill] {
  fill: $green !important;
}

.aside,
.aside-menu {
  background-color: $green !important;
}

.brand-dark .brand {
  background-color: $dark-green !important;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active),
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active),
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active) {
  transition: background-color 0.3s !important;
  background-color: $green !important;
}

.aside-menu .menu-nav>.menu-item.menu-item-active,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link.active,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-open,
.menu-item.menu-item-submenu.menu-item-open,
.menu-item.menu-item-submenu.menu-item-open:hover,
.menu-item.menu-item-submenu.menu-item-open .menu-link.active,
.menu-item.menu-item-submenu.menu-item-open .menu-link.active:hover,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-open>.menu-heading,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-open>.menu-heading:hover,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-open>.menu-link,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-open>.menu-link:hover {
  background-color: $dark-green !important;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-text,
.aside-menu .menu-nav>.menu-item>.menu-heading .menu-arrow,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-arrow,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-text,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-icon {
  color: #d9d9d9 !important;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-icon.svg-icon svg g [fill] {
  fill: #d9d9d9 !important;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-text,
.aside-menu .menu-nav>.menu-section .menu-text {
  color: white !important;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item>.menu-link .menu-icon.svg-icon svg g [fill],
.brand-dark .brand .btn .svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-open>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-open>.menu-link .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-icon.svg-icon svg g [fill] {
  fill: white !important;
}


.input-group.input-group-solid .input-group-prepend~.form-control.force-pl-5 {
  padding-left: 10px !important;
}
